@font-face {
  font-family: "PalatinoLinotype";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/PalatinoLinotype/PalatinoLinotype-Bold.eot");
  src: url("../fonts/PalatinoLinotype/PalatinoLinotype-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PalatinoLinotype/PalatinoLinotype-Bold.woff") format("woff"), url("../fonts/PalatinoLinotype/PalatinoLinotype-Bold.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  background: #fff;
  color: #2b2b2b; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover {
    text-decoration: none; }

h1 {
  color: #2b2b2b;
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  width: 100%; }

h2 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%; }

.links {
  text-decoration: underline;
  color: #ed1547;
  font-size: 14px; }

.container {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative; }

.logo-icon {
  position: relative;
  width: 160px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto 6px; }
  .logo-icon:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
    opacity: 0.95;
    -webkit-box-shadow: 11.5px 6.1px 18px 0 rgba(35, 5, 12, 0.29);
            box-shadow: 11.5px 6.1px 18px 0 rgba(35, 5, 12, 0.29);
    background: #000000; }
  .logo-icon img {
    position: relative;
    z-index: 1;
    width: 120px; }

.logo {
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-family: 'PalatinoLinotype', sans-serif; }

.btn-burger {
  position: absolute;
  top: 89px;
  left: 117px;
  z-index: 1;
  cursor: pointer; }
  .btn-burger span {
    display: block;
    width: 36px;
    height: 7px;
    border-radius: 3.5px;
    background: #ef1649;
    margin: 6px 0; }
    .btn-burger span:nth-child(2) {
      width: 45px; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 24px 10px;
  border-radius: 35px;
  width: 351px; }
  .btn:hover {
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn-accent {
  -webkit-box-shadow: 10.6px 5.6px 18px 0 rgba(239, 22, 73, 0.2);
          box-shadow: 10.6px 5.6px 18px 0 rgba(239, 22, 73, 0.2);
  background: #ef1649;
  color: #fff; }

.btn-border {
  -webkit-box-shadow: 10.6px 5.6px 18px 0 rgba(239, 22, 73, 0.2);
          box-shadow: 10.6px 5.6px 18px 0 rgba(239, 22, 73, 0.2);
  border: solid 2px #ef1649;
  color: #ef1649;
  background: #fff; }

.btn-white {
  color: #ef1649;
  background: #ffffff; }

header {
  padding: 6px 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5; }
  header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.mail, .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #0f0e0d;
  font-size: 18px;
  margin: 0 0 6px; }
  .mail .icon, .phone .icon {
    width: 22px;
    margin: 0 12px 0 0; }

.box-contacts {
  text-align: right; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 0 9px; }
  .list-social li {
    margin: 0 12px 0 0; }
    .list-social li:last-child {
      margin: 0; }
    .list-social li a {
      width: 27px;
      height: 27px;
      -webkit-box-shadow: 10.6px 5.6px 18px 0 rgba(0, 0, 0, 0.06);
              box-shadow: 10.6px 5.6px 18px 0 rgba(0, 0, 0, 0.06);
      background: #f9f9f9;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border-radius: 50%;
      padding: 5px; }
      .list-social li a img {
        opacity: .4; }

main {
  padding: 330px 0 216px;
  position: relative;
  background: url("../img/bg.png") no-repeat right top;
    background-size: 844px; }
  main .description {
    margin: 31px 0 82px;
    color: #ef1649;
    font-size: 30px;
    font-weight: bold; }
  main .btn {
    width: 385px; }

.box-subtitle {
  color: #dadada;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  left: -140px;
  top: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 72px; }
  .box-subtitle .text {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg); }
  .box-subtitle .icon {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin: 0 0 0 34px; }

.man-text {
  max-width: 790px; }
  .man-text p {
    font-style: italic;
    color: #ef1649;
    font-size: 18px;
    margin: 55px 0 0; }

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .btn-group .btn {
    margin: 0 15px 0 0; }
    .btn-group .btn:last-child {
      margin: 0; }

.advantages {
  padding: 90px 0;
  position: relative;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#db0f3f), to(#ef1649));
  background-image: linear-gradient(to top, #db0f3f, #ef1649);
  color: #fff; }
  .advantages:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 366px;
    background: url("../img/bg1.jpg") no-repeat center;
      background-size: cover;
    right: 0;
    top: 0; }
  .advantages:after {
    content: '';
    position: absolute;
    left: -3px;
    top: 241px;
    width: 77px;
    height: 154px;
    background: url("../img/ellipce1.png") no-repeat center;
      background-size: contain; }
  .advantages h2 {
    margin: 0 0 39px; }
  .advantages .description {
    margin: 39px 0 85px;
    max-width: 1215px; }
  .advantages .line-bottom {
    margin: -30px 0 0; }

strong {
  display: inline;
  font-weight: bold; }

.advantages-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.advantages-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 85px;
  font-size: 24px;
  font-weight: 500; }
  .advantages-box p {
    max-width: 290px; }
  .advantages-box .icon {
    width: 60px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 30px 0 0; }

.advantages-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 820px;
  width: 100%; }

.advantages-number {
  margin: 0 -230px 0 87px;
  max-width: 685px;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase; }
  .advantages-number .number {
    font-size: 345.5px;
    font-weight: bold;
    line-height: .7;
    margin: 0 0 37px; }

.line-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .line-bottom .btn {
    width: 351px;
    padding: 24px 0; }

.question {
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 31px 0 0; }
  .question:before {
    content: '';
    margin: 0 17px 0 0;
    background: #f6f6f6;
    height: 5px;
    min-width: 38px; }

.description {
  font-size: 24px;
  font-weight: 500; }

.contract {
  position: relative;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#db0f3f), to(#ef1649));
  background-image: linear-gradient(to top, #db0f3f, #ef1649);
  padding: 153px 0 175px;
  color: #fff; }
  .contract .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .contract .description {
    margin: 25px 0 55px; }
  .contract:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../img/bg2.jpg") no-repeat center;
      background-size: cover;
    opacity: .15; }
  .contract .line-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .contract .question {
    margin: 0 0 25px; }
    .contract .question:before {
      min-width: 58px; }
  .contract .btn {
    margin: 0 0 0 50px; }

.contract-text {
  max-width: 800px; }

.contract-image {
  width: 504px; }

.tools {
  padding: 201px 0 0; }
  .tools h2 {
    text-align: center; }
  .tools .description {
    margin: 30px 0 50px;
    text-align: center;
    width: 100%;
    font-size: 36px; }
    .tools .description strong {
      color: #eb1547; }

.horizontal-scroll-wrapper {
  overflow-y: hidden;
  white-space: nowrap; }

.tools-slider .box-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.slick-slide {
  outline: none; }

.tools-box {
  white-space: normal;
  position: relative;
  height: 830px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 635px;
  width: 635px; }
  .tools-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .tools-box:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #181c1f;
    opacity: .4;
    width: 100%;
    height: 100%; }

.maxHeight {
  height: 100vh; }
  .maxHeight .box-wrap {
    height: 100%; }
  .maxHeight .tools-box {
    height: 100%; }

.tools-box__name {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  padding: 0 10px;
  width: 100%;
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  text-align: center; }

.marketing {
  padding: 76px 0 84px;
  background: url("../img/bg3.jpg") no-repeat center;
    background-size: cover; }
  .marketing .btn {
    margin: 43px auto 0;
    width: 447px;
    text-transform: uppercase; }

.title-img {
  margin: 0 auto 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.marketing-box {
  position: relative;
  padding: 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .marketing-box .icon-arrow {
    display: none;
    margin: 17px auto 39px; }
  .marketing-box .text {
    text-align: center;
    color: #2b2b2b;
    font-size: 18px;
    max-width: 1362px;
    width: 100%;
    margin: 0 auto;
    display: none; }

.marketing-box__name {
  margin: 0 120px 0 0;
  color: #2b2b2b;
  font-size: 36px;
  font-weight: bold;
  text-align: center; }

.marketing-slider {
  width: 100%; }
  .marketing-slider .slick-center.slick-slide {
    margin: 0 -120px 0 -750px;
    z-index: 1; }
    .marketing-slider .slick-center.slick-slide .text {
      display: block; }
    .marketing-slider .slick-center.slick-slide .icon-arrow {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .marketing-slider .slick-center.slick-slide .marketing-box__name {
      color: #eb1547; }
  .marketing-slider .slick-slide {
    z-index: 2;
    position: relative; }

.employees {
  position: relative;
  padding: 120px 0; }
  .employees .box-subtitle {
    left: auto;
    right: -140px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
    .employees .box-subtitle .text {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  .employees h2 {
    max-width: 1060px;
    margin: 0 0 60px; }

.employee-box__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.employee-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  color: #535353;
  font-size: 14px;
  font-weight: 300; }
  .employee-box__photo {
    width: 341px;
    min-width: 341px;
    height: 341px;
    background: #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    position: relative; }
    .employee-box__photo:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 0;
      height: 0;
      border-top: 17.5px solid transparent;
      border-right: 30px solid #fff;
      border-bottom: 17.5px solid transparent;
      -webkit-transform: rotate(0, -50%);
              transform: rotate(0, -50%); }
  .employee-box__content {
    padding: 30px 33px 30px 25px;
    width: 341px;
    min-width: 341px; }
  .employee-box .name {
    font-size: 24px;
    font-weight: 500;
    color: #2b2b2b; }
  .employee-box .position {
    margin: 14px 0 20px;
    color: #ef1649;
    font-size: 18px;
    font-weight: 500;
    font-style: italic; }
  .employee-box:nth-child(2) .employee-box__photo:before {
    border-top: 17.5px solid transparent;
    border-left: 30px solid #fff;
    border-right: none;
    border-bottom: 17.5px solid transparent;
    right: auto;
    left: 0; }

.employees-slider {
  width: 100%; }

.slick-arrow {
  z-index: 1;
  outline: none;
  width: 53px;
  height: 53px;
  opacity: 1; }
  .slick-arrow:before {
    display: none; }

.slick-prev {
  background: url("../img/arr-l.png") no-repeat center;
    background-size: contain;
  left: -106px; }
  .slick-prev:hover, .slick-prev:focus {
    background: url("../img/arr-l.png") no-repeat center;
      background-size: contain; }

.slick-next {
  background: url("../img/arr-r.png") no-repeat center;
    background-size: contain;
  right: -106px; }
  .slick-next:hover, .slick-next:focus {
    background: url("../img/arr-r.png") no-repeat center;
      background-size: contain; }

.portfolio {
  padding: 140px 0 116px;
  position: relative; }
  .portfolio:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 366px;
    background: #f6f6f6 no-repeat right top;
      background-size: cover; }
  .portfolio .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.portfolio-image__slider {
  width: 1231px;
  height: 653px;
  background: url("../img/macbook.png") no-repeat center;
    background-size: 100%;
  margin: 0 -100px 0 -535px;
  position: relative; }

.portfolio-img {
  margin: 6.5px 0 0 178px;
  width: 862px; }

.portfolio-content {
  max-width: 760px;
  width: 100%;
  position: relative;
  z-index: 1; }
  .portfolio-content h2 {
    margin: 0 0 49px;
    max-width: 480px; }

.portfolio-box {
  font-size: 18px;
  font-weight: 300; }

.indicators {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 0 29px;
  font-size: 30px; }
  .indicators li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 59px 0 0; }
    .indicators li:last-child {
      margin: 0; }
    .indicators li p {
      text-shadow: 10.6px 5.6px 18px rgba(239, 22, 73, 0.2);
      font-size: 30px;
      color: #ef1649;
      font-weight: bold;
      margin: 0 22px 0 0; }

.portfolio-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 35px 0 0; }
  .portfolio-nav .slick-arrow {
    position: relative;
    top: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ef1649;
    font-size: 18px;
    font-weight: 300;
    line-height: normal; }
    .portfolio-nav .slick-arrow:hover, .portfolio-nav .slick-arrow:focus {
      background: transparent; }
  .portfolio-nav .slick-next span {
    margin: 0 16px 0 0; }
  .portfolio-nav .slick-prev span {
    margin: 0 0 0 16px; }

.turnkey-marketing {
  padding: 157px 0; }

.turnkey-marketing__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1; }
  .turnkey-marketing__content .box-text {
    max-width: 590px; }
  .turnkey-marketing__content .description {
    margin: 30px 0 0; }

.turnkey-marketing__slider {
  width: 100%;
  margin: -275px 0 0; }
  .turnkey-marketing__slider .slick-slide.slick-current {
    margin: 330px 0 0 66px; }
    .turnkey-marketing__slider .slick-slide.slick-current .turnkey-marketing__box {
      margin: 0 0 0 35px; }
    .turnkey-marketing__slider .slick-slide.slick-current .turnkey-marketing__box-icon {
      background: #ef1649;
      width: 260px;
      min-width: 260px; }
      .turnkey-marketing__slider .slick-slide.slick-current .turnkey-marketing__box-icon img {
        -webkit-filter: brightness(0) invert(1);
                filter: brightness(0) invert(1);
        opacity: 1; }
    .turnkey-marketing__slider .slick-slide.slick-current .number {
      display: block; }
    .turnkey-marketing__slider .slick-slide.slick-current .turnkey-marketing__box-text {
      display: block; }
  .turnkey-marketing__slider .slick-slide.slick-current ~ .slick-slide {
    margin: 0 0 330px 0; }
  .turnkey-marketing__slider .slick-slide.slick-current + .slick-slide {
    margin: 0 0 330px 35px; }
  .turnkey-marketing__slider .slick-slide {
    margin: 330px 0 0 0;
    width: 260px; }

.turnkey-marketing__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.turnkey-marketing__box-icon {
  background: rgba(232, 234, 238, 0.4);
  position: relative;
  width: 100%;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .turnkey-marketing__box-icon .icon {
    max-width: 67px; }
  .turnkey-marketing__box-icon img {
    opacity: .2; }
  .turnkey-marketing__box-icon .number {
    position: absolute;
    top: 35px;
    left: 25px;
    color: rgba(43, 43, 43, 0.2);
    font-size: 24px;
    font-weight: bold;
    display: none; }

.turnkey-marketing__box-text {
  min-width: 536px;
  padding: 30px 55px;
  display: none; }
  .turnkey-marketing__box-text h3 {
    margin: 0 0 28px;
    font-size: 24px;
    font-weight: bold; }

.turnkey-marketing__nav {
  width: 260px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .nav-slide .slick-arrow {
    width: 56px;
    height: 56px;
    background: rgba(232, 234, 238, 0.4);
    position: relative;
    top: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
    left: 0;
    right: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .nav-slide .slick-next {
    background: rgba(232, 234, 238, 0.4) url("../img/arr-r-bl.png") no-repeat center;
      background-size: 17px; }
    .nav-slide .slick-next:hover, .nav-slide .slick-next:focus {
      background: url("../img/arr-r-bl.png") no-repeat center;
        background-size: 17px; }
  .nav-slide .slick-prev {
    background: rgba(232, 234, 238, 0.4) url("../img/arr-l-bl.png") no-repeat center;
      background-size: 17px; }
    .nav-slide .slick-prev:hover, .nav-slide .slick-prev:focus {
      background: url("../img/arr-l-bl.png") no-repeat center;
        background-size: 17px; }

.counter-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 57px;
  font-size: 48px;
  font-weight: bold;
  color: #e8eaee; }
  .counter-slide .cp {
    color: #ef1649; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1840px) {
  .advantages-number {
    max-width: 420px;
    font-size: 16px;
    margin: 0 -230px 0 0px; }
    .advantages-number .number {
      font-size: 200px; } }

@media only screen and (max-width: 1770px) {
  .employees .box-subtitle {
    right: -240px; } }

@media only screen and (max-width: 1700px) {
  .btn-burger {
    left: 20px; }
  .box-subtitle {
    left: -220px; }
  .portfolio-image__slider {
    width: 990px;
    height: 524px; }
  .portfolio-img {
    width: 650px; }
  .portfolio-content h2 {
    margin: 0 0 20px; }
  .portfolio-content {
    max-width: 650px; }
  .portfolio .container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; } }

@media only screen and (max-width: 1580px) {
  .container {
    padding: 0 20px;
    max-width: 1140px; }
  .tools-box {
    height: 600px; }
  .tools-box__name {
    font-size: 40px; }
  .title-img {
    padding: 0 20px; }
  .marketing-box .text {
    max-width: 1140px; }
  .marketing-slider .slick-center.slick-slide {
    margin: 0 -120px 0 -550px; }
  .contract-text {
    max-width: none;
    width: calc(100% - 400px); }
  .contract-image {
    width: 400px; }
  .contract {
    padding: 100px 0; }
  .employee-box__photo {
    width: 275px;
    min-width: 275px;
    padding: 0 10px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .employee-box__content {
    width: 275px;
    min-width: 275px;
    padding: 30px 20px; }
  .turnkey-marketing__box-icon, .turnkey-marketing__nav {
    width: 220px;
    height: 220px; }
  .turnkey-marketing__slider .slick-slide {
    width: 220px; }
  .turnkey-marketing__slider .slick-slide.slick-current .turnkey-marketing__box-icon {
    width: 220px;
    min-width: 220px; }
  .turnkey-marketing__content .box-text {
    max-width: 450px; }
    .turnkey-marketing__content .box-text h2 {
      font-size: 34px; }
    .turnkey-marketing__content .box-text .description {
      font-size: 20px; }
  .turnkey-marketing__slider {
    margin: -225px 0 0; }
  main {
    padding: 200px 0 216px;
    background-size: 544px; }
    main .description {
      margin: 25px 0 30px; }
  .box-subtitle {
    font-size: 67px;
    top: 450px; }
  .advantages:before, .portfolio:before {
    width: 160px; } }

@media only screen and (max-width: 1350px) {
  .advantages-box {
    font-size: 18px; }
    .advantages-box p {
      max-width: 220px; }
  .advantages-wrapper {
    max-width: 670px; }
  .advantages-number {
    margin: 0 0 0 auto; }
  .employees-slider .slick-prev {
    left: 10px; }
  .employees-slider .slick-next {
    right: -5px; } }

@media only screen and (max-width: 1250px) {
  .box-subtitle {
    display: none; }
  .btn-burger {
    left: 0;
    top: 0;
    position: relative;
    margin: 0 0 0 20px; }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  main {
    background-size: 620px;
    padding: 200px 0 100px; }
  .advantages:after {
    top: 35%; }
  .turnkey-marketing__slider .slick-slide, .turnkey-marketing__slider .slick-slide.slick-current ~ .slick-slide {
    margin: 0; }
  .turnkey-marketing__slider {
    margin: 30px 0 0; }
  .turnkey-marketing__slider .slick-slide.slick-current {
    margin: 0 30px; }
  .turnkey-marketing__slider .slick-slide.slick-current .turnkey-marketing__box {
    margin: 0; }
  .turnkey-marketing__slider .slick-slide.slick-current .turnkey-marketing__box {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .turnkey-marketing__box-text {
    min-width: 767px;
    text-align: center; }
  .turnkey-marketing__content .box-text {
    max-width: none;
    width: calc(100% - 220px); }
  .turnkey-marketing {
    padding: 100px 0; } }

@media only screen and (max-width: 1200px) {
  .advantages:after {
    display: none; }
  .advantages-number {
    max-width: 310px; }
    .advantages-number .number {
      font-size: 150px; }
  .tools-box__name {
    font-size: 30px; }
  .marketing-box .text {
    max-width: 767px; }
  .marketing-box__name {
    font-size: 30px; }
  .marketing-slider .slick-center.slick-slide {
    margin: 0 -100px 0 -250px; }
  .employees h2 {
    margin: 0 0 40px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1150px) {
  .employee-box__content {
    width: calc(100% - 275px);
    min-width: auto; } }

@media only screen and (max-width: 1100px) {
  .portfolio-content {
    max-width: none; }
  .portfolio-image__slider {
    margin: 30px auto 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .portfolio-img {
    width: 68%;
    margin: 12.5px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .portfolio-image__slider {
    width: 100%;
    height: 540px;
    background-position: center top; } }

@media only screen and (max-width: 992px) {
  main {
    background-size: 400px; }
    main .description {
      font-size: 24px; }
    main .btn {
      width: 300px; }
  h1 {
    font-size: 50px; }
  h2 {
    font-size: 40px; }
  .btn {
    font-size: 16px; }
  .advantages-number {
    max-width: none;
    width: 100%;
    text-align: center; }
  .advantages-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .advantages-wrapper {
    max-width: none; }
  .advantages .line-bottom {
    margin: 20px auto 0; }
  .advantages-box {
    margin: 0 0 40px;
    width: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .description {
    font-size: 16px; }
  .question {
    font-size: 18px; }
  .tools-box__name {
    font-size: 26px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 800px) {
  .marketing-slider .slick-center.slick-slide {
    margin: 0 auto; }
  .marketing-box .text {
    max-width: 400px; }
  .marketing-box__name {
    margin: 0 auto; }
  .contract-text {
    width: 100%; }
  .contract-image {
    margin: 40px auto 0; } }

@media only screen and (max-width: 768px) {
  .man-text {
    max-width: 512px; }
  h1 {
    font-size: 40px; }
  h2 {
    font-size: 36px; }
  main .description {
    font-size: 20px;
    margin: 20px 0 30px; }
  main .btn {
    width: 100%; }
  .btn-group .btn {
    margin: 0 0 10px; }
  .advantages h2 {
    margin: 0; }
  .advantages .description {
    margin: 30px 0; }
  .question {
    margin: 0 0 10px;
    width: 100%; }
  .advantages .line-bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .tools-box {
    height: 500px; }
  .tools {
    padding: 100px 0 0; }
  .tools .description {
    font-size: 20px;
    margin: 20px 0 30px; }
  .portfolio {
    padding: 50px 0; }
    .portfolio:before {
      width: 250px; }
  .portfolio-image__slider {
    height: 400px; }
  .indicators {
    font-size: 20px; }
    .indicators li p {
      font-size: 20px; }
  .turnkey-marketing__box-text {
    min-width: 575px;
    padding: 20px; }
    .turnkey-marketing__box-text h3 {
      font-size: 18px;
      margin: 0 0 20px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 670px) {
  main {
    background-size: 300px; }
  .man-text p {
    font-size: 15px;
    margin: 20px 0 0; }
  h1 {
    font-size: 36px; }
  h2 {
    font-size: 30px; }
  .tools .description {
    font-size: 18px; }
  .turnkey-marketing__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: auto;
    margin: 30px auto 0; }
  .turnkey-marketing__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .counter-slide {
    margin: 0; }
  .turnkey-marketing__content .box-text {
    width: 100%; } }

@media only screen and (max-width: 575px) {
  main {
    background: #fff; }
    main .description {
      font-size: 16px;
      text-align: center; }
  h1 {
    font-size: 26px;
    text-align: center; }
  h2, .turnkey-marketing__content .box-text h2 {
    font-size: 22px; }
  .description, .turnkey-marketing__content .box-text .description {
    font-size: 15px; }
  .marketing-box .text {
    font-size: 16px; }
  .marketing-box__name {
    font-size: 20px; }
  .marketing-box .icon-arrow {
    margin: 15px auto 20px;
    width: 25px; }
  .logo-icon {
    width: 80px;
    height: 60px;
    padding: 10px; }
  .logo {
    font-size: 14px; }
  .mail, .phone {
    font-size: 16px; }
  .advantages-box {
    width: 100%; }
  .advantages {
    padding: 50px 0; }
  .advantages-number .number {
    font-size: 100px; }
  .tools .description {
    font-size: 16px; }
  .portfolio-image__slider {
    height: 300px; }
  .employee-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .employee-box__content {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .employee-box__photo:before {
    left: 50%;
    bottom: 0;
    top: auto;
    right: auto;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    border: none;
      border-left: 17.5px solid transparent;
      border-right: 17.5px solid transparent;
      border-bottom: 30px solid #fff; }
  .employee-box:nth-child(2) .employee-box__photo:before {
    left: 50%;
    bottom: 0;
    top: auto;
    right: auto;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    border: none;
      border-left: 17.5px solid transparent;
      border-right: 17.5px solid transparent;
      border-bottom: 30px solid #fff; }
  .employee-box .name {
    font-size: 18px; }
  .employee-box .position {
    font-size: 16px; }
  .employees {
    padding: 70px 0; }
  .employee-box__photo {
    height: 300px; }
  .turnkey-marketing__box-text {
    min-width: 480px; }
  .turnkey-marketing {
    padding: 70px 0; }
  .nav-slide .slick-arrow {
    width: 46px;
    height: 46px; }
  .nav-slide .slick-next, .nav-slide .slick-prev {
    background-size: 14px; }
  .tools-box {
    min-width: auto;
    width: 300px; }
  .tools-box__name {
    padding: 0 10px; } }

@media only screen and (max-width: 480px) {
  .mail .icon, .phone .icon {
    margin: 0 10px 0 0;
    width: 10px;
    height: 10px; }
  .mail, .phone {
    font-size: 14px; }
  .btn-burger span {
    width: 30px;
    height: 3px; }
    .btn-burger span:nth-child(2) {
      width: 35px; }
  .marketing .btn {
    width: 300px;
    font-size: 15px;
    padding: 24px 0; }
  .indicators {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: start;
        align-self: flex-start; }
    .indicators li {
      margin: 0 0 10px;
      width: 100%; }
  .portfolio-image__slider {
    height: 250px; }
  .portfolio-img {
    margin-top: 8px; }
  .contract .btn {
    margin: 0;
    width: 100%; }
  .contract .description {
    margin: 20px 0 40px; }
  .turnkey-marketing__box-text {
    min-width: 360px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px) {
  .links, .mail, .phone {
    font-size: 12px; }
  .logo-icon {
    width: 60px;
    height: 50px; }
  .logo {
    font-size: 10px; }
  .advantages:before, .portfolio:before {
    width: 150px; }
  .tools {
    padding: 50px 0 0; }
  .marketing-box .text {
    max-width: 300px; }
  .marketing-box__name {
    font-size: 18px; }
  .marketing {
    padding: 50px 0; }
  .portfolio-image__slider {
    height: 200px; }
  .portfolio-box {
    font-size: 16px; }
  .contract {
    padding: 70px 0; }
    .contract .question br {
      display: none; }
    .contract .question:before {
      min-width: 38px; }
  .contract-image {
    width: 100%; }
  .counter-slide {
    font-size: 38px; } }

@media only screen and (max-width: 360px) {
  .portfolio-image__slider {
    height: 170px; }
  .question {
    font-size: 16px; }
  .turnkey-marketing__box-text {
    min-width: 300px; } }
