@font-face {
  font-family: "PalatinoLinotype";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/PalatinoLinotype/PalatinoLinotype-Bold.eot");
  src: url("../fonts/PalatinoLinotype/PalatinoLinotype-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PalatinoLinotype/PalatinoLinotype-Bold.woff") format("woff"), url("../fonts/PalatinoLinotype/PalatinoLinotype-Bold.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  background: #fff;
  color: #2b2b2b; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover {
    text-decoration: none; }

h1 {
  color: #2b2b2b;
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  width: 100%; }

h2 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%; }

.links {
  text-decoration: underline;
  color: #ed1547;
  font-size: 14px; }

.container {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative; }

.logo {
  max-width: 166px;
  width: 100%; }

.btn-burger {
  position: absolute;
  top: 46px;
  left: 117px;
  z-index: 1;
  cursor: pointer; }
  .btn-burger span {
    display: block;
    width: 36px;
    height: 7px;
    border-radius: 3.5px;
    background: #ef1649;
    margin: 6px 0; }
    .btn-burger span:nth-child(2) {
      width: 45px; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 24px 10px;
  border-radius: 35px;
  width: 351px; }
  .btn:hover {
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn-accent {
  -webkit-box-shadow: 10.6px 5.6px 18px 0 rgba(239, 22, 73, 0.2);
          box-shadow: 10.6px 5.6px 18px 0 rgba(239, 22, 73, 0.2);
  background: #ef1649;
  color: #fff;
  border: 1px solid #ef1649; }
  .btn-accent:hover {
    background: #fff;
    color: #ef1649; }

.btn-border {
  -webkit-box-shadow: 10.6px 5.6px 18px 0 rgba(239, 22, 73, 0.2);
          box-shadow: 10.6px 5.6px 18px 0 rgba(239, 22, 73, 0.2);
  border: solid 2px #ef1649;
  color: #ef1649;
  background: #fff; }
  .btn-border:hover {
    color: #fff;
    background: #ef1649; }

.btn-white {
  color: #ef1649;
  background: #ffffff; }
  .btn-white:hover {
    color: #fff;
    background: #ef1649; }

svg {
  display: inline-block;
  width: 100%;
  height: 100%; }

button {
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

header {
  padding: 6px 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5; }
  header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.mail, .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #0f0e0d;
  font-size: 18px;
  margin: 0 0 6px; }
  .mail .icon, .phone .icon {
    width: 22px;
    margin: 0 12px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .mail .icon svg, .phone .icon svg {
      fill: #ef1649; }

.mail .icon {
  width: 13px;
  height: 11px; }

.phone .icon {
  width: 12px;
  height: 12px; }

.box-contacts {
  text-align: right; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 0 9px; }
  .list-social li {
    margin: 0 12px 0 0; }
    .list-social li:last-child {
      margin: 0; }
    .list-social li a {
      width: 27px;
      height: 27px;
      -webkit-box-shadow: 10.6px 5.6px 18px 0 rgba(0, 0, 0, 0.06);
              box-shadow: 10.6px 5.6px 18px 0 rgba(0, 0, 0, 0.06);
      background: #f9f9f9;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border-radius: 50%;
      padding: 5px; }
      .list-social li a img {
        opacity: .4; }

main {
  padding: 330px 0 216px;
  position: relative;
  background: url("../img/bg.png") no-repeat right top;
    background-size: 844px; }
  main .description {
    margin: 31px 0 82px;
    color: #ef1649;
    font-size: 30px;
    font-weight: bold; }
  main .btn {
    width: 385px; }

.description-company {
  font-size: 18px;
  max-width: 481px;
  line-height: 1.33;
  margin: 0 auto 0 34px; }

.box-subtitle {
  color: #dadada;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  left: -190px;
  top: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 72px; }
  .box-subtitle .text {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg); }
  .box-subtitle .icon {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin: 0 0 0 34px; }

.man-text {
  max-width: 790px; }
  .man-text p {
    font-style: italic;
    color: #ef1649;
    font-size: 22px;
    font-weight: 500;
    margin: 77px 0 35px;
    max-width: 565px; }

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .btn-group .btn {
    margin: 0 15px 0 0; }
    .btn-group .btn:last-child {
      margin: 0; }

.color-accent {
  color: #ef1649; }

.advantages {
  padding: 90px 0;
  position: relative;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#db0f3f), to(#ef1649));
  background-image: linear-gradient(to top, #db0f3f, #ef1649);
  color: #fff; }
  .advantages:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 366px;
    background: url("../img/bg1.jpg") no-repeat center;
      background-size: cover;
    right: 0;
    top: 0; }
  .advantages:after {
    content: '';
    position: absolute;
    left: -3px;
    top: 241px;
    width: 77px;
    height: 154px;
    background: url("../img/ellipce1.png") no-repeat center;
      background-size: contain; }
  .advantages h2 {
    font-size: 36px;
    margin: 0 0 39px; }
  .advantages .description {
    margin: 0 0 54px;
    max-width: 1215px; }
  .advantages .line-bottom {
    margin: -30px 0 0; }
  .advantages h6 {
    margin: 0 0 34px;
    font-size: 36px;
    font-weight: bold; }

strong {
  display: inline;
  font-weight: bold; }

.advantages-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.advantages-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 26px;
  font-size: 24px;
  font-weight: 500;
  width: 100%; }
  .advantages-box .icon {
    width: 36px;
    height: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 24px 0 0; }
    .advantages-box .icon svg {
      fill: #fff; }

.advantages-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 820px;
  width: 100%; }

.advantages-number {
  margin: 0 -230px 0 87px;
  max-width: 685px;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase; }
  .advantages-number .number {
    font-size: 345.5px;
    font-weight: bold;
    line-height: .7;
    margin: 0 0 37px; }

.line-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .line-bottom .btn {
    width: 351px;
    padding: 24px 0; }

.question {
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 31px 0 0; }
  .question:before {
    content: '';
    margin: 0 17px 0 0;
    background: #f6f6f6;
    height: 5px;
    min-width: 38px; }

.description {
  font-size: 24px;
  font-weight: 500; }

.contract {
  position: relative;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#db0f3f), to(#ef1649));
  background-image: linear-gradient(to top, #db0f3f, #ef1649);
  padding: 153px 0 175px;
  color: #fff; }
  .contract .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .contract .description {
    margin: 25px 0 55px; }
  .contract:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../img/bg2.jpg") no-repeat center;
      background-size: cover;
    opacity: .15; }
  .contract .line-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .contract .question {
    margin: 0 0 25px; }
    .contract .question:before {
      min-width: 58px; }
  .contract .btn {
    margin: 0 20px 0 0; }
    .contract .btn:last-child {
      margin: 0; }

.contract-text {
  max-width: 800px; }

.contract-image {
  width: 406px;
  height: 406px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.tools {
  padding: 140px 0 0;
  position: relative; }
  .tools h2 {
    text-align: center; }
  .tools .description {
    margin: 30px 0 32px;
    text-align: center;
    width: 100%;
    font-size: 36px; }
    .tools .description strong {
      color: #eb1547; }
  .tools .sentence-image1 {
    position: absolute;
    max-width: 865px;
    bottom: 0;
    right: -288px; }
    .tools .sentence-image1 span {
      width: 807px;
      height: 807px;
      background: #f6f6f6;
      border-radius: 50%; }
      .tools .sentence-image1 span:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        border: solid 3px #f6f6f6;
          border-radius: 50%;
        width: calc(100% + 58px);
        height: calc(100% + 58px); }
  .tools .sentence-image2 {
    position: absolute;
    max-width: 26px;
    right: 315px;
    z-index: 2;
    bottom: 127px; }
    .tools .sentence-image2 span {
      width: 26px;
      height: 26px;
      -webkit-box-shadow: 0 14px 24px 0 rgba(239, 22, 73, 0.29);
              box-shadow: 0 14px 24px 0 rgba(239, 22, 73, 0.29);
      background-color: #ef1649; }

.tabs__caption {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 70px;
  font-size: 20px; }
  .tabs__caption li {
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #2b2b2b;
    padding: 10px 10px;
    margin: 0 0 36px;
    border: none;
      border-bottom: 1px solid transparent; }
  .tabs__caption .active {
    color: #ef1649;
    border-color: #ef1649; }

.tools-title {
  color: #2b2b2b;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase; }

.tools-description {
  margin: 25px 0 0;
  color: #2b2b2b;
  font-size: 18px;
  font-weight: 500;
  max-width: 940px;
  width: 100%; }

.d-mobile {
  display: none; }

.tabs {
  width: 100%; }

.tabs__content-wrap {
  width: calc(100% - 800px); }
  .tabs__content-wrap .btn {
    max-width: 385px;
    width: 100%; }

.list-cube {
  max-width: 440px;
  color: #2b2b2b;
  font-size: 18px;
  margin: 30px 0;
  font-weight: 500; }
  .list-cube .color-accent {
    font-weight: bold; }
  .list-cube li {
    position: relative;
    padding: 0 0 0 48px;
    margin: 0 0 25px; }
    .list-cube li:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      -webkit-box-shadow: 0px 14px 24px 0 rgba(239, 22, 73, 0.29);
              box-shadow: 0px 14px 24px 0 rgba(239, 22, 73, 0.29);
      background-color: #ef1649;
      -webkit-transform: rotate(-20deg);
              transform: rotate(-20deg); }
    .list-cube li:nth-child(even):before {
      -webkit-transform: rotate(20deg);
              transform: rotate(20deg); }

.tools-photo {
  position: relative; }
  .tools-photo img {
    position: relative;
    z-index: 1; }

.description-tools {
  position: absolute;
  right: 30px;
  top: -180px;
  width: 275px;
  height: 275px;
  -webkit-box-shadow: 0 12px 18px 0 rgba(235, 21, 71, 0.2);
          box-shadow: 0 12px 18px 0 rgba(235, 21, 71, 0.2);
  background-color: #ef1649;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  padding: 49px 18px;
  font-size: 22px;
  font-weight: bold; }

.tabs__content1 .tools-photo {
  max-width: 978px;
  margin: 0 0 0 -580px; }

.tabs__content1 .tabs__content-wrap {
  width: auto; }

.callback {
  position: relative;
  background: #ef1649;
  color: #fff;
  padding: 80px 0; }
  .callback .description {
    font-size: 29px; }
  .callback:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: .2;
    background: url("../img/bg3.jpg") no-repeat center;
      background-size: cover;
    width: 100%;
    height: 100%; }
  .callback label {
    width: calc(100% - 320px);
    margin: 0; }
  .callback input {
    height: 70px;
    color: #2b2b2b;
    font-size: 16px;
    width: 100%; }
  .callback form {
    margin: 30px 0 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .callback form button {
      height: 70px;
      width: 292px;
      margin: 0; }

.employees {
  position: relative;
  padding: 140px 0; }
  .employees .box-subtitle {
    left: auto;
    right: -200px;
    -webkit-transform: rotate(-90deg) translate(0, -50%);
            transform: rotate(-90deg) translate(0, -50%);
    position: absolute;
    z-index: 3;
    top: 50%; }
    .employees .box-subtitle .text {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  .employees h2 {
    max-width: 1060px;
    margin: 0 0 60px; }

.employee-box__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.employee-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  color: #535353;
  font-size: 16px;
  font-weight: 300; }
  .employee-box__photo {
    width: 341px;
    min-width: 341px;
    height: 341px;
    background: #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    position: relative; }
    .employee-box__photo img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
    .employee-box__photo:before {
      content: '';
      position: absolute;
      top: 50%;
      border-top: 17.5px solid transparent;
      border-left: 30px solid #fff;
      border-right: none;
      border-bottom: 17.5px solid transparent;
      right: auto;
      left: 0; }
  .employee-box__content {
    padding: 30px 33px 30px 25px;
    width: 341px;
    min-width: 341px; }
  .employee-box .name {
    font-size: 24px;
    font-weight: 500;
    color: #2b2b2b; }
  .employee-box .position {
    margin: 14px 0 20px;
    color: #ef1649;
    font-size: 18px;
    font-weight: 500;
    font-style: italic; }
  .employee-box:nth-child(3) .employee-box__photo:before, .employee-box:nth-child(4) .employee-box__photo:before, .employee-box:nth-child(7) .employee-box__photo:before, .employee-box:nth-child(8) .employee-box__photo:before {
    right: 0;
    left: auto;
    width: 0;
    height: 0;
    border-left: none;
    border-top: 17.5px solid transparent;
    border-right: 30px solid #fff;
    border-bottom: 17.5px solid transparent;
    -webkit-transform: rotate(0, -50%);
            transform: rotate(0, -50%); }

.slick-arrow {
  z-index: 1;
  outline: none;
  width: 53px;
  height: 53px;
  opacity: 1; }
  .slick-arrow:before {
    display: none; }
  .slick-arrow svg {
    fill: #ef1649; }

.slick-prev {
  left: -106px; }
  .slick-prev svg {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }

.slick-next {
  right: -106px; }
  .slick-next svg {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }

.portfolio {
  padding: 140px 0;
  position: relative; }
  .portfolio h2 {
    text-align: center; }
  .portfolio .btn {
    margin: 0 auto; }

.portfolio-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 79px 0 60px; }

.portfolio-box {
  position: relative;
  width: 25%;
  height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .portfolio-box:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 1; }
    .portfolio-box:hover .portfolio-box__content {
      opacity: 1;
      visibility: visible; }

.portfolio-box__photo {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .portfolio-box__photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.portfolio-box__content {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #ef1649;
  padding: 87px 29px 63px;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  opacity: 0;
  visibility: hidden; }
  .portfolio-box__content h3 {
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    text-align: center; }
  .portfolio-box__content .text {
    margin: 35px auto auto;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.26; }

.fancybox-photo {
  line-height: 1.26;
  font-size: 19px;
  font-weight: bold;
  color: #fff;
  text-decoration: underline;
  margin: 0 auto; }

.indicators {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 0 29px;
  font-size: 30px; }
  .indicators li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 59px 0 0; }
    .indicators li:last-child {
      margin: 0; }
    .indicators li p {
      text-shadow: 10.6px 5.6px 18px rgba(239, 22, 73, 0.2);
      font-size: 30px;
      color: #ef1649;
      font-weight: bold;
      margin: 0 22px 0 0; }

.nav-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .nav-slide .slick-arrow {
    width: 56px;
    height: 56px;
    background: rgba(232, 234, 238, 0.4);
    position: relative;
    top: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
    left: 0;
    right: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .nav-slide .slick-next {
    background: rgba(232, 234, 238, 0.4) url("../img/arr-r-bl.png") no-repeat center;
      background-size: 17px; }
    .nav-slide .slick-next:hover, .nav-slide .slick-next:focus {
      background: url("../img/arr-r-bl.png") no-repeat center;
        background-size: 17px; }
  .nav-slide .slick-prev {
    background: rgba(232, 234, 238, 0.4) url("../img/arr-l-bl.png") no-repeat center;
      background-size: 17px; }
    .nav-slide .slick-prev:hover, .nav-slide .slick-prev:focus {
      background: url("../img/arr-l-bl.png") no-repeat center;
        background-size: 17px; }

.counter-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 57px;
  font-size: 48px;
  font-weight: bold;
  color: #e8eaee; }
  .counter-slide .cp {
    color: #ef1649; }

footer {
  background: #181c1f;
  padding: 20px 0 17px;
  color: #fff; }
  footer .logo {
    max-width: 120px;
    margin: 0 auto 15px; }
  footer .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  footer .mail, footer .phone {
    font-size: 23px;
    color: #fff; }
    footer .mail .icon, footer .phone .icon {
      width: 15px;
      height: 15px; }
  footer .links {
    font-size: 18px; }
  footer .list-social {
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    footer .list-social li {
      margin: 0 16px 0 0; }
      footer .list-social li a {
        width: 41px;
        height: 41px;
        padding: 10px; }

.copyright {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.2);
  font-weight: 300;
  text-align: center; }

.doc p {
  margin: 34px auto 0;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4); }

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 520px;
  width: 100%; }
  .footer-menu li {
    width: 165px;
    margin: 0 50px 25px 0; }
    .footer-menu li:nth-child(3) {
      width: auto;
      margin-right: 0; }
    .footer-menu li a {
      color: #fff;
      font-size: 18px; }
      .footer-menu li a:hover {
        color: #ef1649; }

.orders {
  background: #181c1f;
  position: relative;
  padding: 70px 0; }
  .orders .container {
    z-index: 1; }
  .orders:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 87px;
    background: url("../img/ellipce1.png") no-repeat center;
      background-size: cover;
    width: 92px;
    height: 200px; }
  .orders:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: url("../img/bg4.jpg") no-repeat center;
      background-size: cover;
    opacity: .05; }
  .orders h2 {
    color: #fff;
    max-width: 770px; }
  .orders .description {
    color: #fff;
    margin: 37px 0 50px;
    text-transform: uppercase;
    max-width: 600px; }
  .orders .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .orders .box-subtitle {
    -webkit-transform: none;
            transform: none;
    top: 128px;
    right: 0;
    left: auto;
    font-size: 130px;
    opacity: .1; }
    .orders .box-subtitle .text {
      -webkit-transform: none;
              transform: none; }
  .orders .btn {
    margin: 0 auto;
    max-width: 447px;
    width: 100%;
    text-transform: uppercase; }

.list-parameter {
  margin: 0 0 56px; }
  .list-parameter li {
    margin: 0 0 21px; }
    .list-parameter li:last-child {
      margin: 0; }

.orders-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.checkbox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .checkbox .checkbox-inp {
    display: none; }
  .checkbox .checkbox-custom {
    position: relative;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    border: none;
      border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    margin: 0 15px 0 0; }
  .checkbox .label {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    cursor: pointer; }
  .checkbox .checkbox-inp:checked + .checkbox-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background: #ef1649; }

.question-section {
  padding: 0 0 140px;
  position: relative; }
  .question-section h2 {
    margin: 0 0 50px;
    max-width: 1080px; }
  .question-section .container {
    z-index: 1; }
  .question-section .sentence-image1 {
    left: -89px;
    top: 212px;
    position: absolute; }
    .question-section .sentence-image1 .img-parallax {
      width: 184px;
      height: 200px;
      background: url("../img/ellipce2.png") no-repeat center;
        background-size: cover; }
  .question-section .sentence-image2 {
    position: absolute;
    right: 53px;
    bottom: 393px; }
    .question-section .sentence-image2 .img-parallax {
      margin: 0 0 0 auto;
      width: 75px;
      height: 97px;
      background: url("../img/ellipce3.png") no-repeat center;
        background-size: cover; }

.panel_heading {
  width: 100%;
  font-size: 18px;
  color: #2b2b2b;
  margin: 0 0 20px; }

.block_title {
  width: 100%;
  position: relative;
  background: rgba(232, 234, 238, 0.4);
  text-transform: uppercase;
  font-weight: 700;
  padding: 31px 65px 31px 32px;
  cursor: pointer; }
  .block_title:before {
    content: '+';
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background: #ef1649;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    text-align: center;
    line-height: 36px; }

.in:before {
  content: '-'; }

.block_hover {
  display: none;
  padding: 38px 0 0;
  line-height: 24px; }

.text-right {
  text-align: right; }

.box-statistics {
  color: #2b2b2b;
  font-size: 36px;
  font-weight: 700;
  opacity: .2;
  text-transform: uppercase;
  width: 100%; }
  .box-statistics:last-child {
    margin: 35px 0 0; }

.sentence {
  padding: 103px 0 127px;
  position: relative; }
  .sentence h2 {
    margin: 0 0 86px;
    max-width: 890px; }
  .sentence .box-subtitle {
    left: -180px;
    top: 470px; }

.sentence-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 49px 0 60px; }

.sentence-image {
  max-width: 580px;
  width: 100%; }

.form {
  max-width: 658px;
  width: 100%; }
  .form button {
    width: 100%;
    height: 102px;
    border-radius: 51px;
    font-size: 24.5px; }

label {
  width: 100%;
  display: block;
  margin: 0 0 19px; }

input {
  width: 100%;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  border: none;
    border-radius: 51px;
  height: 103px;
  font-size: 18px;
  -webkit-box-shadow: 0 12px 18px rgba(0, 0, 0, 0.06);
          box-shadow: 0 12px 18px rgba(0, 0, 0, 0.06);
  background: #fff;
  padding: 0 52px;
  color: #2b2b2b; }
  input::-webkit-input-placeholder {
    color: #2b2b2b; }
  input::-moz-placeholder {
    color: #2b2b2b; }
  input::-ms-input-placeholder {
    color: #2b2b2b; }
  input::placeholder {
    color: #2b2b2b; }
  input:valid {
    color: #2b2b2b; }
  input:focus {
    color: #2b2b2b; }
    input:focus:valid, input:focus:invalid {
      color: #2b2b2b; }

.img-parallax {
  left: auto !important;
  right: 0; }

.mobile-menu {
  position: fixed;
  z-index: 7;
  background: #fff;
  max-width: 555px;
  -webkit-box-shadow: 0px 14px 21px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0px 14px 21px 0 rgba(0, 0, 0, 0.07);
  height: 100%;
  width: 100%;
  display: none; }

.mobile-menu__wrapper {
  height: 100%;
  overflow-y: auto;
  padding: 59px 104px 59px 244px; }
  .mobile-menu__wrapper .list-social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 0 19px; }
  .mobile-menu__wrapper .mail, .mobile-menu__wrapper .phone {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .mobile-menu__wrapper .box-contacts {
    text-align: left; }
    .mobile-menu__wrapper .box-contacts .links {
      padding: 0 0 0 20px; }

.overlay {
  opacity: 0.9;
  -webkit-box-shadow: 0 14px 21px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 14px 21px 0 rgba(0, 0, 0, 0.07);
  width: 100%;
  height: 100%;
  display: none;
  background: #fff;
  z-index: 6;
  position: fixed;
  left: 0;
  top: 0; }

.menu li {
  margin: 0 0 37px; }
  .menu li a {
    color: #2b2b2b;
    font-size: 18px;
    font-weight: 500; }
    .menu li a:hover {
      color: #ef1649; }

.tabs__content {
  display: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.tabs__content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.modal__div {
  position: fixed;
  max-width: 647px;
  width: 100%;
  height: 100%;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 101;
  overflow: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  opacity: 0; }
  .modal__div .modal__close {
    position: absolute;
    right: 20px;
    top: 20px; }
  .modal__div .modal__wrapper {
    background: #fff;
    width: 100%;
    height: auto;
    overflow: auto;
    margin: 50px auto;
    padding: 50px 59px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    border-radius: 10px; }
    .modal__div .modal__wrapper h2 {
      font-size: 36px;
      text-align: center;
      margin: 0 auto 30px;
      color: #2b2b2b;
      font-weight: 800;
      text-transform: none; }
  .modal__div form label {
    margin: 0 0 25px; }
    .modal__div form label input {
      font-size: 16px;
      padding: 0 40px;
      border: solid 1px #dadada;
      height: 65px;
      -webkit-box-shadow: none;
              box-shadow: none; }
  .modal__div form button {
    height: 65px;
    font-size: 18px; }

.overlay2 {
  z-index: 100;
  position: fixed;
  background-color: #181c1f;
  opacity: 0.9;
  -moz-opacity: 0.9;
  filter: alpha(opacity=90);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1840px) {
  .advantages-number {
    max-width: 420px;
    font-size: 16px;
    margin: 0 -230px 0 0px; }
    .advantages-number .number {
      font-size: 200px; }
  .sentence .box-subtitle {
    left: -300px; }
  .advantages .line-bottom {
    margin: 20px 0 0; } }

@media only screen and (max-width: 1770px) {
  .employees .box-subtitle {
    right: -240px; } }

@media only screen and (max-width: 1700px) {
  .btn-burger {
    left: 20px; }
  .box-subtitle {
    left: -220px; }
  .sentence .box-subtitle {
    left: -320px; }
  .orders .box-subtitle {
    font-size: 100px; }
  .advantages-wrapper {
    margin: 0 0 30px; } }

@media only screen and (max-width: 1580px) {
  .container {
    padding: 0 20px;
    max-width: 1140px; }
  .contract-text {
    max-width: none;
    width: calc(100% - 400px); }
  .contract-image {
    width: 400px; }
  .contract {
    padding: 100px 0; }
  .employee-box__photo {
    width: 275px;
    min-width: 275px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .employee-box__content {
    width: 275px;
    min-width: 275px;
    padding: 30px 20px; }
  main {
    padding: 200px 0 216px;
    background-size: 544px; }
    main .description {
      margin: 25px 0 30px; }
  .box-subtitle {
    font-size: 67px;
    top: 450px; }
  .advantages:before {
    width: 160px; }
  .orders .box-subtitle {
    font-size: 70px; }
  .footer-menu {
    max-width: 350px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer-menu li {
      width: 50%;
      margin: 0 0 10px; }
  .contract .btn {
    width: 280px; }
  .tabs__content1 .tools-photo {
    max-width: 570px; }
  .tabs__caption {
    padding: 0; }
  .list-cube li {
    margin: 0 0 10px; }
  .list-cube, .tools-description {
    font-size: 16px; }
  .tools-title {
    font-size: 30px; }
  .description-tools {
    font-size: 14px;
    width: 200px;
    height: 200px;
    padding: 30px 20px;
    top: -107px; }
  .tabs__content-wrap {
    width: calc(100% - 600px); }
  .tools-photo {
    max-width: 550px; }
  .advantages h2 {
    font-size: 29px; } }

@media only screen and (max-width: 1350px) {
  .advantages-box {
    font-size: 18px; }
    .advantages-box p {
      max-width: 220px; }
  .advantages-wrapper {
    max-width: 670px; }
  .advantages-number {
    margin: 0 0 0 auto; } }

@media only screen and (max-width: 1250px) {
  .box-subtitle {
    display: none; }
  .btn-burger {
    left: 0;
    top: 0;
    position: relative;
    margin: 0 0 0 20px; }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  main {
    background-size: 620px;
    padding: 200px 0 100px; }
  .advantages:after {
    top: 35%; }
  .checkbox .label {
    font-size: 16px; }
  .orders:after {
    bottom: 20px; }
  footer .mail, footer .phone {
    font-size: 16px; }
  footer .links {
    font-size: 14px; }
  footer .list-social li a {
    width: 30px;
    height: 30px;
    padding: 7px; }
  .mobile-menu {
    max-width: 395px; }
    .mobile-menu .btn-burger {
      position: absolute;
      left: 10px;
      top: 30px; }
  .mobile-menu__wrapper {
    padding: 30px 40px 30px 120px; } }

@media only screen and (max-width: 1200px) {
  .advantages:after {
    display: none; }
  .advantages-number {
    max-width: 310px; }
    .advantages-number .number {
      font-size: 150px; }
  .employees h2 {
    margin: 0 0 40px; }
  .tabs__caption li {
    padding: 15px 25px;
    font-size: 14px; }
  .advantages h2 br {
    display: none; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1150px) {
  .employee-box__content {
    min-width: auto;
    width: 100%; }
  .employee-box {
    width: 100%; }
  .tools .sentence-image1 {
    max-width: 565px; }
    .tools .sentence-image1 .img-parallax {
      width: 565px;
      height: 565px; }
  .tools .sentence-image2 {
    right: 115px; } }

@media only screen and (max-width: 1100px) {
  .list-parameter {
    margin: 0 0 30px; }
  .list-parameter li {
    margin: 0 0 15px; }
  .description-company {
    font-size: 14px;
    max-width: 380px; }
  .logo {
    max-width: 120px; }
  .contract .btn-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .contract .btn {
    width: 290px;
    margin: 0 0 10px; } }

@media only screen and (max-width: 992px) {
  main {
    background-size: 400px; }
    main .description {
      font-size: 24px; }
    main .btn {
      width: 300px; }
  h1 {
    font-size: 50px; }
  h2 {
    font-size: 40px; }
  .btn {
    font-size: 16px; }
  .advantages-number {
    max-width: none;
    width: 100%;
    text-align: center; }
  .advantages-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .advantages-wrapper {
    max-width: none; }
  .advantages .line-bottom {
    margin: 20px auto 0; }
  .advantages-box {
    margin: 0 0 40px;
    width: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .description {
    font-size: 16px; }
  .question {
    font-size: 18px; }
  input {
    height: 60px; }
  .form {
    max-width: 400px; }
    .form button {
      height: 60px; }
  footer .logo {
    max-width: 90px; }
  .footer-menu {
    max-width: 280px; }
    .footer-menu li a {
      font-size: 14px; }
  .tabs__content1 .tools-photo {
    max-width: 370px; }
  .description-tools {
    font-size: 10px;
    width: 150px;
    height: 150px;
    top: -87px; }
  .tools-title {
    font-size: 24px; }
  .list-cube, .tools-description {
    font-size: 14px; }
  .list-cube li {
    padding: 0 0 0 30px; }
    .list-cube li:before {
      width: 12px;
      height: 12px; }
  .tabs__caption {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .tabs__caption li {
      margin: 0 0 10px; }
  .tools-photo {
    max-width: 370px; }
  .tabs__content-wrap {
    width: calc(100% - 370px); }
  .tools {
    padding: 70px 0 0; }
  .portfolio-box {
    width: 50%;
    height: 380px; }
  .portfolio-box__content {
    padding: 30px 20px;
    font-size: 14px; }
    .portfolio-box__content h3 {
      font-size: 18px; }
    .portfolio-box__content .text {
      font-size: 14px; }
  .fancybox-photo {
    font-size: 18px; }
  .portfolio {
    padding: 70px 0; }
  .portfolio-wrapper {
    margin: 40px 0 30px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 850px) {
  .footer-menu {
    width: 100%;
    max-width: none;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 20px auto 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer-menu li {
      margin: 0;
      width: 50%; }
  .description-company {
    display: none; } }

@media only screen and (max-width: 800px) {
  .contract-text {
    width: 100%; }
  .contract-image {
    margin: 40px auto 0; }
  .img-parallax {
    max-width: 200px; }
  .question-section:before, .question-section:after {
    display: none; }
  .box-statistics {
    font-size: 20px; }
    .box-statistics br {
      display: none; }
  .orders:after {
    width: 60px;
    height: 125px; }
  .contract .btn-group {
    margin: 0 auto; } }

@media only screen and (max-width: 768px) {
  .man-text {
    max-width: 512px; }
  h1 {
    font-size: 40px; }
  h2 {
    font-size: 36px; }
  main .description {
    font-size: 20px;
    margin: 20px 0 30px; }
  main .btn {
    width: 100%; }
  .btn-group .btn {
    margin: 0 0 10px; }
  .advantages h2 {
    margin: 0; }
  .advantages .description {
    margin: 30px 0; }
  .question {
    margin: 0 0 10px;
    width: 100%; }
  .advantages .line-bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .indicators {
    font-size: 20px; }
    .indicators li p {
      font-size: 20px; }
  .sentence-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 40px 0; }
  .sentence .description br {
    display: none; }
  .form {
    max-width: none;
    margin: 30px auto 0; }
  .sentence-image {
    max-width: none; }
  .orders .description {
    margin: 20px 0 30px; }
  .form button {
    font-size: 18px; }
  .list-cube {
    max-width: none; }
  .tabs__content1 .tools-photo, .tools-photo {
    max-width: 290px;
    margin: 20px auto 0;
    display: none; }
  .tabs__content1 .tools-photo {
    margin: 100px auto 0; }
  .tabs__content-wrap .d-mobile.tools-photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .tabs__content-wrap {
    width: 100%; }
  .callback label {
    width: 100%;
    margin: 0 auto 30px; }
  .callback form button {
    margin: 0 auto;
    width: 100%; }
  .callback .description {
    font-size: 18px; }
  .tools .sentence-image {
    display: none; } }

@media only screen and (max-width: 670px) {
  main {
    background-size: 300px; }
  .man-text p {
    font-size: 15px;
    margin: 20px 0 30px; }
    .man-text p br {
      display: none; }
  h1 {
    font-size: 36px; }
  h2 {
    font-size: 30px; }
  .tools .description {
    font-size: 18px; }
  .sentence {
    padding: 70px 0; }
  .question-section {
    padding: 0 0 70px; }
  .block_title {
    padding: 20px 60px 20px 20px; }
    .block_title:before {
      right: 20px; }
  .panel_heading {
    font-size: 16px; }
  .block_hover {
    padding: 25px 0 0; }
  .question-section h2 {
    margin: 0 0 30px; }
  footer {
    padding: 20px 0; }
  .modal__div .modal__wrapper {
    padding: 30px; }
    .modal__div .modal__wrapper h2 {
      font-size: 24px; }
    .modal__div .modal__wrapper form label input {
      padding: 0 25px; }
  .modal__close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 15px;
    height: 15px;
    z-index: 1;
    cursor: pointer; }
    .modal__close:before, .modal__close:after {
      content: '';
      position: absolute;
      width: 2px;
      height: 100%;
      border-radius: 4px;
      background: #000; }
    .modal__close:before {
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg); }
    .modal__close:after {
      -webkit-transform: rotate(40deg);
              transform: rotate(40deg); } }

@media only screen and (max-width: 575px) {
  main {
    background: #fff; }
    main .description {
      font-size: 16px;
      text-align: center; }
  h1 {
    font-size: 26px;
    text-align: center; }
  h2 {
    font-size: 22px; }
  .description {
    font-size: 15px; }
  .logo-icon {
    width: 80px;
    height: 60px;
    padding: 10px; }
  .mail, .phone {
    font-size: 16px; }
  .logo {
    max-width: 100px; }
  .advantages-box {
    width: 100%; }
  .advantages {
    padding: 50px 0; }
  .advantages-number .number {
    font-size: 100px; }
  .tools .description {
    font-size: 16px; }
  .employee-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .employee-box__content {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .employee-box__photo:before {
    left: 50%;
    bottom: 0;
    top: auto;
    right: auto;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    border: none;
      border-left: 17.5px solid transparent;
      border-right: 17.5px solid transparent;
      border-bottom: 30px solid #fff; }
  .employee-box:nth-child(2) .employee-box__photo:before, .employee-box:nth-child(3) .employee-box__photo:before, .employee-box:nth-child(4) .employee-box__photo:before, .employee-box:nth-child(7) .employee-box__photo:before, .employee-box:nth-child(8) .employee-box__photo:before {
    left: 50%;
    bottom: 0;
    top: auto;
    right: auto;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    border: none;
      border-left: 17.5px solid transparent;
      border-right: 17.5px solid transparent;
      border-bottom: 30px solid #fff; }
  .employee-box .name {
    font-size: 18px; }
  .employee-box .position {
    font-size: 16px; }
  .employees {
    padding: 70px 0; }
  .employee-box__photo {
    height: 300px; }
  .nav-slide .slick-arrow {
    width: 46px;
    height: 46px; }
  .nav-slide .slick-next, .nav-slide .slick-prev {
    background-size: 14px; }
  .footer-box {
    width: 100%;
    margin: 0 auto 20px;
    text-align: center; }
  footer .logo {
    margin: 0 auto 20px; }
  .callback input, .callback form button {
    height: 60px; } }

@media only screen and (max-width: 510px) {
  .logo {
    margin: 0 auto 10px 0; } }

@media only screen and (max-width: 480px) {
  .mail .icon, .phone .icon {
    margin: 0 10px 0 0;
    width: 10px;
    height: 10px; }
  .mail, .phone {
    font-size: 14px; }
  .btn-burger span {
    width: 30px;
    height: 3px; }
    .btn-burger span:nth-child(2) {
      width: 35px; }
  .indicators {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: start;
        align-self: flex-start; }
    .indicators li {
      margin: 0 0 10px;
      width: 100%; }
  .contract .btn {
    width: 100%; }
  .contract .description {
    margin: 20px 0 40px; }
  .mobile-menu__wrapper {
    padding: 30px 30px 30px 85px; }
  .mobile-menu {
    max-width: 290px; }
  .menu li {
    margin: 0 0 20px; }
    .menu li a {
      font-size: 16px; }
  .doc p {
    font-size: 10px;
    margin: 20px 0 0; }
  .contract .btn-group {
    width: 100%; }
  .portfolio-box {
    width: 100%;
    height: 280px; }
  .advantages h2 {
    font-size: 24px; }
  .tabs__caption li {
    width: 50%; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px) {
  .links, .mail, .phone {
    font-size: 12px; }
  .logo-icon {
    width: 60px;
    height: 50px; }
  .logo {
    font-size: 10px; }
  .advantages:before {
    width: 150px; }
  .contract {
    padding: 70px 0; }
    .contract .question br {
      display: none; }
    .contract .question:before {
      min-width: 38px; }
  .contract-image {
    width: 100%; }
  .counter-slide {
    font-size: 38px; }
  footer .mail, footer .phone {
    font-size: 12px; }
    footer .mail .icon, footer .phone .icon {
      width: 12px;
      height: 12px; }
  .doc p {
    font-size: 8px;
    margin: 10px 0 0; } }

@media only screen and (max-width: 360px) {
  .question {
    font-size: 16px; }
  footer .list-social li {
    margin: 0 10px 0 0; }
    footer .list-social li a {
      width: 25px;
      height: 25px;
      padding: 5px; }
  .logo {
    max-width: 80px; } }
