@import "vars"


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1840px)
  .advantages-number
    max-width: 420px
    font-size: 16px
    margin: 0 -230px 0 0px
    .number
      font-size: 200px

  .sentence .box-subtitle
    left: -300px

@media only screen and (max-width : 1770px)
  .employees .box-subtitle
    right: -240px


@media only screen and (max-width : 1700px)
  .btn-burger
    left: 20px

  .box-subtitle
    left: -220px

  .portfolio-image__slider
    width: 990px
    height: 524px
    margin: 0 -100px 0 -380px

  .portfolio-img
    width: 650px
    max-height: 455px

  .portfolio-content h2
    margin: 0 0 20px

  .portfolio-content
    max-width: 580px

  .portfolio .container
    align-items: flex-start

  .sentence .box-subtitle
    left: -320px

  .orders .box-subtitle
    font-size: 100px

@media only screen and (max-width : 1580px)
  .container
    padding: 0 20px
    max-width: 1140px

  .tools-box
    height: 600px

  .tools-box__name
    font-size: 40px

  .title-img
    padding: 0 20px

  .marketing-box .text
    max-width: 1140px



  .contract-text
    max-width: none
    width: calc(100% - 400px)

  .contract-image
    width: 400px

  .contract
    padding: 100px 0

  .employee-box__photo
    width: 275px
    min-width: 275px
    //padding: 0 10px
    align-items: flex-end

  .employee-box__content
    width: 275px
    min-width: 275px
    padding: 30px 20px

  .turnkey-marketing__box-icon, .turnkey-marketing__nav
    width: 220px
    height: 220px

  .turnkey-marketing__slider .slick-slide
    width: 220px

  .turnkey-marketing__slider .slick-slide.slick-current .turnkey-marketing__box-icon
    width: 220px
    min-width: 220px

  .turnkey-marketing__content .box-text
    max-width: 450px
    h2
      font-size: 34px
    .description
      font-size: 20px

  .turnkey-marketing__slider
    margin: -225px 0 0

  main
    padding: 200px 0 216px
    -webkit-background-size: 544px
    background-size: 544px
    .description
      margin: 25px 0 30px

  .box-subtitle
    font-size: 67px
    top: 450px

  .advantages:before, .portfolio:before
    width: 160px

  .orders .box-subtitle
    font-size: 70px


@media only screen and (max-width : 1350px)
  .advantages-box
    font-size: 18px
    p
      max-width: 220px

  .advantages-wrapper
    max-width: 670px

  .advantages-number
    margin: 0 0 0 auto

  .employees-slider
    .slick-prev
      left: 10px

    .slick-next
      right: -5px

@media only screen and (max-width : 1250px)
  .box-subtitle
    display: none

  .btn-burger
    left: 0
    top: 0
    position: relative
    margin: 0 0 0 20px

  header
    display: flex
    align-items: center

  main
    -webkit-background-size: 620px
    background-size: 620px
    padding: 200px 0 100px

  .advantages:after
    top: 35%

  .turnkey-marketing__slider .slick-slide, .turnkey-marketing__slider .slick-slide.slick-current ~ .slick-slide
    margin: 0

  .turnkey-marketing__slider
    margin: 30px 0 0

  .turnkey-marketing__slider .slick-slide.slick-current
    margin: 0 30px

  .turnkey-marketing__slider .slick-slide.slick-current .turnkey-marketing__box
    margin: 0

  .turnkey-marketing__slider .slick-slide.slick-current .turnkey-marketing__box
    height: auto
    flex-direction: column
    align-items: center


  .turnkey-marketing__box-text
    min-width: 767px
    text-align: center

  .turnkey-marketing__content .box-text
    max-width: none
    width: calc(100% - 220px)

  .turnkey-marketing
    padding: 100px 0

  .checkbox .label
    font-size: 16px

  .orders:after
    bottom: 20px

  footer .mail, footer .phone
    font-size: 16px

  footer .links
    font-size: 14px

  footer .list-social li a
    width: 30px
    height: 30px
    padding: 7px

  footer .logo
    max-width: 250px


@media only screen and (max-width : 1200px)
  .advantages:after
    display: none

  .advantages-number
    max-width: 310px
    .number
      font-size: 150px

  .tools-box__name
    font-size: 30px



  .marketing-box .text
    max-width: 767px

  .marketing-box__name
    font-size: 30px

  .marketing-slider .slick-center.slick-slide
    margin: 0 auto

  .employees
    h2
      margin: 0 0 40px


/* Medium Devices, Desktops */
@media only screen and (max-width : 1150px)
  .employee-box__content
    width: calc(100% - 275px)
    min-width: auto

@media only screen and (max-width : 1100px)
  .portfolio-content
    max-width: none

  .portfolio-image__slider
    margin: 30px auto 0
    order: 1

  .portfolio-img
    width: 68%
    margin: 12.5px auto 0
    display: flex
    align-items: center
    justify-content: center
    border-radius: 13px 13px 0 0

  .portfolio-image__slider
    width: 100%
    height: 540px

    background-position: center top

  .list-parameter
    margin: 0 0 30px

  .list-parameter li
    margin: 0 0 15px


@media only screen and (max-width : 992px)
  main
    -webkit-background-size: 400px
    background-size: 400px
    .description
      font-size: 24px
    .btn
      width: 300px

  h1
    font-size: 50px

  h2
    font-size: 40px

  .btn
    font-size: 16px

  .advantages-number
    max-width: none
    width: 100%
    text-align: center

  .advantages-content
    flex-wrap: wrap

  .advantages-wrapper
    max-width: none

  .advantages .line-bottom
    margin: 20px auto 0

  .advantages-box
    margin: 0 0 40px
    width: 50%
    justify-content: center

  .description
    font-size: 16px

  .question
    font-size: 18px

  .tools-box__name
    font-size: 26px

  input
    height: 60px

  .form
    max-width: 400px
    button
      height: 60px

  footer .logo
    max-width: 200px

  .portfolio-image__slider
    width: 700px
    height: 380px

  .portfolio-img
    max-height: 315px

/* Small Devices, Tablets */
@media only screen and (max-width : 850px)
  .footer-menu
    width: 100%
    order: 1
    margin: 20px auto 0
    flex-direction: row
    align-items: center
    justify-content: space-between
    li
      width: auto
      margin: 0

@media only screen and (max-width : 800px)
  .marketing-box .text
    max-width: 400px

  .marketing-box__name
    margin: 0 auto

  .contract-text
    width: 100%

  .contract-image
    margin: 40px auto 0

  .img-parallax
    max-width: 200px

  .question-section:before, .question-section:after
    display: none

  .box-statistics
    font-size: 20px
    br
      display: none

  .orders:after
    width: 60px
    height: 125px

@media only screen and (max-width : 768px)
  .man-text
    max-width: 512px

  h1
    font-size: 40px

  h2
    font-size: 36px

  main
    .description
      font-size: 20px
      margin: 20px 0 30px
    .btn

      width: 100%

  .btn-group .btn
    margin: 0 0 10px

  .advantages
    h2
      margin: 0
    .description
      margin: 30px 0

  .question
    margin: 0 0 10px
    width: 100%

  .advantages .line-bottom
    justify-content: center

  .tools-box
    height: 500px


  .tools .description
    font-size: 20px
    margin: 20px 0 30px

  .portfolio
    padding: 50px 0
    &:before
      width: 250px

  .portfolio-image__slider
    height: 400px

  .indicators
    font-size: 20px
    li
      p
        font-size: 20px

  .turnkey-marketing__box-text
    min-width: 575px
    padding: 20px
    h3
      font-size: 18px
      margin: 0 0 20px

  .sentence-wrapper
    flex-wrap: wrap
    margin: 40px 0

  .sentence
    .description
      br
        display: none

  .form
    max-width: none
    margin: 30px auto 0

  .sentence-image
    max-width: none

  .orders .description
    margin: 20px 0 30px

  .logo
    max-width: 214px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 700px)
  .portfolio-image__slider
    width: 500px
    height: 270px

  .portfolio-img
    max-height: 220px

@media only screen and (max-width : 670px)
  main
    -webkit-background-size: 300px
    background-size: 300px

  .man-text p
    font-size: 15px
    margin: 20px 0 0

  h1
    font-size: 36px

  h2
    font-size: 30px

  .tools .description
    font-size: 18px

  .turnkey-marketing__nav
    flex-direction: row
    align-items: center
    justify-content: space-between
    width: 100%
    height: auto
    margin: 30px auto 0

  .turnkey-marketing__content
    flex-direction: column
    align-items: center

  .counter-slide
    margin: 0

  .turnkey-marketing__content .box-text
    width: 100%

  .sentence
    padding: 70px 0

  .question-section
    padding: 0 0 70px

  .block_title
    padding: 20px 60px 20px 20px
    &:before
      right: 20px

  .panel_heading
    font-size: 16px

  .block_hover
    padding: 25px 0 0

  .question-section h2
    margin: 0 0 30px

  footer
    padding: 20px 0

@media only screen and (max-width : 575px)
  main
    background: #fff
    .description
      font-size: 16px
      text-align: center

  h1
    font-size: 26px
    text-align: center

  h2, .turnkey-marketing__content .box-text h2
    font-size: 22px

  .description, .turnkey-marketing__content .box-text .description
    font-size: 15px

  .marketing-box .text
    font-size: 16px

  .marketing-box__name
    font-size: 20px

  .marketing-box .icon-arrow
    margin: 15px auto 20px
    width: 25px

  .logo-icon
    width: 80px
    height: 60px
    padding: 10px

  .logo
    font-size: 14px

  .mail, .phone
    font-size: 16px



  .advantages-box
    width: 100%

  .advantages
    padding: 50px 0

  .advantages-number .number
    font-size: 100px

  .tools .description
    font-size: 16px

  .portfolio-image__slider
    height: 300px

  .employee-box
    flex-direction: column
    align-items: center

  .employee-box__content
    width: 100%
    order: 1

  .employee-box__photo
    &:before
      left: 50%
      bottom: 0
      top: auto
      right: auto
      transform: translate(-50%,0)
      border: none
        left: 17.5px solid transparent
        right: 17.5px solid transparent
        bottom: 30px solid #fff

  .employee-box:nth-child(2) .employee-box__photo:before
    left: 50%
    bottom: 0
    top: auto
    right: auto
    transform: translate(-50%,0)
    border: none
      left: 17.5px solid transparent
      right: 17.5px solid transparent
      bottom: 30px solid #fff

  .employee-box .name
    font-size: 18px

  .employee-box .position
    font-size: 16px

  .employees
    padding: 70px 0

  .employee-box__photo
    height: 300px

  .turnkey-marketing__box-text
    min-width: 480px

  .turnkey-marketing
    padding: 70px 0

  .nav-slide .slick-arrow
    width: 46px
    height: 46px

  .nav-slide .slick-next, .nav-slide .slick-prev
    -webkit-background-size: 14px
    background-size: 14px

  .tools-box
    min-width: auto
    width: 300px

  .tools-box__name
    padding: 0 10px

  .footer-box
    width: 100%
    margin: 0 auto 20px
    text-align: center

  footer
    .logo
      margin: 0 auto 20px



@media only screen and (max-width : 530px)
  .portfolio-image__slider
    width: 380px
    height: 200px

  .portfolio-img
    max-height: 160px
    border-radius: 10px 10px 0 0

@media only screen and (max-width : 510px)
  .logo
    margin: 0 auto 10px

  header .container
    flex-direction: column
    align-items: center
    .list-social
      justify-content: center
    .links
      text-align: center

@media only screen and (max-width : 480px)
  .mail .icon, .phone .icon
    margin: 0 10px 0 0
    width: 10px
    height: 10px

  .mail, .phone
    font-size: 14px

  .btn-burger span
    width: 30px
    height: 3px
    &:nth-child(2)
      width: 35px

  .marketing .btn
    width: 300px
    font-size: 15px
    padding: 24px 0

  .indicators
    flex-direction: column
    align-self: flex-start
    li
      margin: 0 0 10px
      width: 100%

  .portfolio-image__slider
    height: 250px

  .portfolio-img
    margin-top: 8px


  .contract .btn
    margin: 0
    width: 100%

  .contract .description
    margin: 20px 0 40px

  .turnkey-marketing__box-text
    min-width: 360px



/* Custom, iPhone Retina */
@media only screen and (max-width : 420px)
  .links, .mail, .phone
    font-size: 12px

  .logo-icon
    width: 60px
    height: 50px

  .logo
    font-size: 10px

  .advantages:before, .portfolio:before
    width: 150px


  .marketing-box .text
    max-width: 300px

  .marketing-box__name
    font-size: 18px

  .marketing
    padding: 50px 0

  .portfolio-image__slider
    height: 200px

  .portfolio-box
    font-size: 16px

  .contract
    padding: 70px 0
    .question
      br
        display: none
      &:before
        min-width: 38px

  .contract-image
    width: 100%

  .counter-slide
    font-size: 38px

  .portfolio-image__slider
    width: 290px
    height: 160px

  .portfolio-img
    max-height: 125px
    border-radius: 5px 5px 0 0


@media only screen and (max-width : 360px)
  .portfolio-image__slider
    height: 170px

  .question
    font-size: 16px

  .turnkey-marketing__box-text
    min-width: 300px

  footer .mail, footer .phone
    font-size: 13px

  footer .list-social li
    margin: 0 10px 0 0
    a
      width: 25px
      height: 25px
      padding: 5px

