@import "fonts"
@import "vars"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666

body input:required:valid,
body textarea:required:valid
  color: #666

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: normal
  font-family: $default-font
  background: #fff
  color: #2b2b2b

html, body
  overflow-x: hidden

img
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

a
  display: block
  text-decoration: none
  transition: .3s ease
  outline: none
  &:hover
    text-decoration: none

h1
  color: #2b2b2b
  font-size: 60px
  font-weight: 800
  text-transform: uppercase
  width: 100%

h2
  font-size: 48px
  font-weight: bold
  text-transform: uppercase
  width: 100%

.links
  text-decoration: underline
  color: #ed1547
  font-size: 14px

.container
  max-width: 1370px
  width: 100%
  margin: 0 auto
  display: flex
  flex-wrap: wrap
  position: relative

.logo-icon
  position: relative
  width: 160px
  height: 120px
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  margin: 0 auto 6px
  &:before
    content: ''
    position: absolute
    width: 100%
    height: 100%
    transform: rotate(-3deg)
    opacity: 0.95
    box-shadow: 11.5px 6.1px 18px 0 rgba(35, 5, 12, 0.29)
    background: #000000
  img
    position: relative
    z-index: 1
    width: 120px

.logo
  text-transform: uppercase
  text-align: center
  color: #000
  font-family: 'PalatinoLinotype', sans-serif

.btn-burger
  position: absolute
  top: 89px
  left: 117px
  z-index: 1
  cursor: pointer
  span
    display: block
    width: 36px
    height: 7px
    border-radius: 3.5px
    background: #ef1649
    margin: 6px 0
    &:nth-child(2)
      width: 45px

.btn
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  font-size: 18px
  font-weight: bold
  padding: 24px 10px
  border-radius: 35px
  width: 351px
  &:hover
    box-shadow: none

.btn-accent
  box-shadow: 10.6px 5.6px 18px 0 rgba(239, 22, 73, 0.2)
  background: #ef1649
  color: #fff

.btn-border
  box-shadow: 10.6px 5.6px 18px 0 rgba(239, 22, 73, 0.2)
  border: solid 2px #ef1649
  color: #ef1649
  background: #fff

.btn-white
  color: #ef1649
  background: #ffffff


//header
header
  padding: 6px 0
  position: absolute
  left: 0
  top: 0
  width: 100%
  z-index: 5
  .container
    justify-content: space-between
    align-items: center

.mail, .phone
  display: flex
  align-items: center
  justify-content: space-between
  color: #0f0e0d
  font-size: 18px
  margin: 0 0 6px
  .icon
    width: 22px
    margin: 0 12px 0 0

.box-contacts
  text-align: right

.list-social
  display: flex
  align-items: center
  justify-content: flex-end
  margin: 0 0 9px
  li
    margin: 0 12px 0 0
    &:last-child
      margin: 0
    a
      width: 27px
      height: 27px
      box-shadow: 10.6px 5.6px 18px 0 rgba(0, 0, 0, 0.06)
      background: #f9f9f9
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      padding: 5px
      img
        opacity: .4

//main
main
  padding: 330px 0 216px
  position: relative
  background: url("../img/bg.png") no-repeat right top
    size: 844px
  .description
    margin: 31px 0 82px
    color: #ef1649
    font-size: 30px
    font-weight: bold
  .btn
    width: 385px



.box-subtitle
  color: #dadada
  font-weight: 500
  text-transform: uppercase
  position: absolute
  left: -140px
  top: 580px
  display: flex
  align-items: center
  transform: rotate(90deg)
  font-size: 72px
  .text
    transform: rotate(-180deg)

  .icon
    transform: rotate(-90deg)
    margin: 0 0 0 34px

.man-text
  max-width: 790px
  p
    font-style: italic
    color: #ef1649
    font-size: 18px
    margin: 55px 0 0

.btn-group
  display: flex
  align-items: center
  flex-wrap: wrap
  .btn
    margin: 0 15px 0 0
    &:last-child
      margin: 0

//advantages
.advantages
  padding: 90px 0
  position: relative
  background-image: linear-gradient(to top, #db0f3f, #ef1649)
  color: #fff
  &:before
    content: ''
    position: absolute
    height: 100%
    width: 366px
    background: url("../img/bg1.jpg") no-repeat center
      size: cover
    right: 0
    top: 0
  &:after
    content: ''
    position: absolute
    left: -3px
    top: 241px
    width: 77px
    height: 154px
    background: url("../img/ellipce1.png") no-repeat center
      size: contain
  h2
    margin: 0 0 39px
  .description
    margin: 39px 0 85px
    max-width: 1215px
  .line-bottom
    margin: -30px 0 0

strong
  display: inline
  font-weight: bold

.advantages-content
  width: 100%
  display: flex
  align-items: flex-start

.advantages-box
  display: flex
  align-items: center
  margin: 0 0 85px
  font-size: 24px
  font-weight: 500
  p
    max-width: 290px
  .icon
    width: 60px
    height: 60px
    display: flex
    align-items: center
    justify-content: center
    margin: 0 30px 0 0

.advantages-wrapper
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  max-width: 820px
  width: 100%


.advantages-number
  margin: 0 -230px 0 87px
  max-width: 685px
  font-size: 24px
  font-weight: 300
  text-transform: uppercase
  .number
    font-size: 345.5px
    font-weight: bold
    line-height: .7
    margin: 0 0 37px

.line-bottom
  width: 100%
  display: flex
  align-items: center
  flex-wrap: wrap

  .btn
    width: 351px
    padding: 24px 0

.question
  font-size: 24px
  font-weight: 500
  font-style: italic
  display: flex
  align-items: center
  margin: 0 31px 0 0
  &:before
    content: ''
    margin: 0 17px 0 0
    background: #f6f6f6
    height: 5px
    min-width: 38px

.description
  font-size: 24px
  font-weight: 500

//contract
.contract
  position: relative
  background-image: linear-gradient(to top, #db0f3f, #ef1649)
  padding: 153px 0 175px
  color: #fff
  .container
    align-items: center
    justify-content: space-between
  .description
    margin: 25px 0 55px

  &:before
    content: ''
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: url("../img/bg2.jpg") no-repeat center
      size: cover
    opacity: .15
  .line-bottom
    flex-direction: column
    align-items: flex-start
  .question
    margin: 0 0 25px
    &:before
      min-width: 58px
  .btn
    margin: 0 0 0 50px


.contract-text
  max-width: 800px

.contract-image
  width: 504px

//tools
.tools
  padding: 201px 0 0
  h2
    text-align: center
  .description
    margin: 30px 0 50px
    text-align: center
    width: 100%
    font-size: 36px
    strong
      color: #eb1547


.slick-slide
  outline: none

.tools-box
  position: relative
  height: 830px
  display: flex
  align-items: center
  justify-content: center
  img
    width: 100%
    height: 100%
    object-fit: cover

  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    background: #181c1f
    opacity: .4
    width: 100%
    height: 100%

.tools-box__name
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%,-50%)
  z-index: 2
  padding: 0 10px
  width: 100%
  color: #fff
  font-size: 48px
  font-weight: bold
  text-align: center

//marketing
.marketing
  padding: 76px 0 84px
  background: url("../img/bg3.jpg") no-repeat center
    size: cover
  .btn
    margin: 43px auto 0
    width: 447px
    text-transform: uppercase

.title-img
  margin: 0 auto 46px
  display: flex
  align-items: center
  justify-content: center

.marketing-box
  position: relative
  padding: 0 40px 0
  display: flex
  flex-direction: column
  align-items: flex-end

  .icon-arrow
    display: none
    margin: 17px auto 39px
  .text
    text-align: center
    color: #2b2b2b
    font-size: 18px
    max-width: 1362px
    width: 100%
    margin: 0 auto
    display: none

.marketing-box__name
  margin: 0 120px 0 0
  color: #2b2b2b
  font-size: 36px
  font-weight: bold
  text-align: center


.marketing-slider
  width: 100%
  .slick-center
    margin: 0 -120px 0 -750px
    .text
      display: block
    .icon-arrow
      display: flex
      align-items: center
      justify-content: center
    .marketing-box__name
      color: #eb1547

//employees
.employees
  position: relative
  padding: 120px 0
  .box-subtitle
    left: auto
    right: -140px
    transform: rotate(-90deg)
    .text
      transform: rotate(180deg)
  h2
    max-width: 1060px
    margin: 0 0 60px

.employee-box__wrapper
  display: flex
  flex-direction: column
  align-items: flex-start

.employee-box
  display: flex
  align-items: stretch
  color: #535353
  font-size: 14px
  font-weight: 300
  &__photo
    width: 341px
    min-width: 341px
    height: 341px
    background: #f6f6f6
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    position: relative
    &:before
      content: ''
      position: absolute
      top: 50%
      right: 0
      width: 0
      height: 0
      border-top: 17.5px solid transparent
      border-right: 30px solid #fff
      border-bottom: 17.5px solid transparent
      transform: rotate(0,-50%)
  &__content
    padding: 30px 33px 30px 25px
    width: 341px
    min-width: 341px
  .name
    font-size: 24px
    font-weight: 500
    color: #2b2b2b
  .position
    margin: 14px 0 20px
    color: #ef1649
    font-size: 18px
    font-weight: 500
    font-style: italic
  &:nth-child(2)
    .employee-box__photo
      &:before
        border-top: 17.5px solid transparent
        border-left: 30px solid #fff
        border-right: none
        border-bottom: 17.5px solid transparent
        right: auto
        left: 0

.employees-slider
  width: 100%

.slick-arrow
  z-index: 1
  outline: none
  width: 53px
  height: 53px
  opacity: 1
  &:before
    display: none

.slick-prev
  background: url("../img/arr-l.png") no-repeat center
    size: contain
  left: -106px
  &:hover, &:focus
    background: url("../img/arr-l.png") no-repeat center
      size: contain

.slick-next
  background: url("../img/arr-r.png") no-repeat center
    size: contain
  right: -106px
  &:hover, &:focus
    background: url("../img/arr-r.png") no-repeat center
      size: contain

//portfolio
.portfolio
  padding: 140px 0 116px
  position: relative
  &:before
    content: ''
    position: absolute
    right: 0
    top: 0
    height: 100%
    width: 366px
    background: #f6f6f6 no-repeat right top
      size: cover
  .container
    align-items: center

.portfolio-image__slider
  width: 1231px
  height: 653px
  background: url("../img/macbook.png") no-repeat center
    size: 100%
  margin: 0 -100px 0 -535px
  position: relative

.portfolio-img
  margin: 6.5px 0 0 178px
  width: 862px

.portfolio-content
  max-width: 760px
  width: 100%
  position: relative
  z-index: 1
  h2
    margin: 0 0 49px
    max-width: 480px

.portfolio-box
  font-size: 18px
  font-weight: 300

.indicators
  width: 100%
  display: flex
  align-items: center
  justify-content: flex-start
  margin: 0 0 29px
  font-size: 30px
  li
    display: flex
    align-items: center
    margin: 0 59px 0 0
    &:last-child
      margin: 0
    p
      text-shadow: 10.6px 5.6px 18px rgba(239, 22, 73, 0.2)
      font-size: 30px
      color: #ef1649
      font-weight: bold
      margin: 0 22px 0 0

.portfolio-nav
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  margin: 35px 0 0
  .slick-arrow
    position: relative
    top: 0
    transform: translate(0)
    left: 0
    right: 0
    width: auto
    height: auto
    background: transparent
    display: flex
    align-items: center
    color: #ef1649
    font-size: 18px
    font-weight: 300
    line-height: normal
    &:hover, &:focus
      background: transparent
  .slick-next
    span
      margin: 0 16px 0 0
  .slick-prev
    span
      margin: 0 0 0 16px

//turnkey-marketing
.turnkey-marketing
  padding: 157px 0

.turnkey-marketing__content
  display: flex
  align-items: center
  position: relative
  z-index: 1
  .box-text
    max-width: 590px
  .description
    margin: 30px 0 0

.turnkey-marketing__slider
  width: 100%
  margin: -270px 0 0
  .slick-slide.slick-current
    margin: 330px 0 0 0
    .turnkey-marketing__box
      margin: 0 0 0 70px
    .turnkey-marketing__box-icon
      background: #ef1649
      width: 260px
      min-width: 260px
      img
        filter: brightness(0) invert(1)
        opacity: 1
    .number
      display: block
    .turnkey-marketing__box-text
      display: block
  .slick-slide.slick-current~.slick-slide
    margin: 0 0 330px 0
  .slick-slide.slick-current+.slick-slide
    margin: 0 0 330px 70px
  .slick-slide
    margin: 330px 0 0 0
    width: 260px


.turnkey-marketing__box
  display: flex
  align-items: stretch

.turnkey-marketing__box-icon
  background: rgba(#e8eaee, .4)
  position: relative

  width: 100%
  height: 260px
  display: flex
  align-items: center
  justify-content: center
  img
    opacity: .2
  .number
    position: absolute
    top: 35px
    left: 25px
    color: rgba(43, 43, 43, 0.2)
    font-size: 24px
    font-weight: bold
    display: none

.turnkey-marketing__box-text
  min-width: 536px
  padding: 30px 55px
  display: none
  h3
    margin: 0 0 28px
    font-size: 24px
    font-weight: bold

.turnkey-marketing__nav
  width: 260px
  height: 260px
  margin: 0 0 0 50px
  display: flex
  flex-direction: column
  align-items: center


.nav-slide
  display: flex
  align-items: center
  justify-content: center
  .slick-arrow
    width: 56px
    height: 56px
    background: rgba(#e8eaee, .4)
    position: relative
    top: 0
    transform: translate(0)
    left: 0
    right: 0
    transition: .3s ease
  .slick-next
    background: rgba(#e8eaee, .4) url("../img/arr-r-bl.png") no-repeat center
      size: 17px
    &:hover, &:focus
      background: url("../img/arr-r-bl.png") no-repeat center
        size: 17px
  .slick-prev
    background: rgba(#e8eaee, .4) url("../img/arr-l-bl.png") no-repeat center
      size: 17px
    &:hover, &:focus
      background: url("../img/arr-l-bl.png") no-repeat center
        size: 17px


.counter-slide
  display: flex
  align-items: center
  margin: 0 0 57px
  font-size: 48px
  font-weight: bold
  color: #e8eaee
  .cp
    color: #ef1649





@import "media"
// Всегда в конце
