@import "fonts"
@import "vars"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666

body input:required:valid,
body textarea:required:valid
  color: #666

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: normal
  font-family: $default-font
  background: #fff
  color: #2b2b2b

html, body
  overflow-x: hidden

img
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

a
  display: block
  text-decoration: none
  transition: .3s ease
  outline: none
  &:hover
    text-decoration: none

h1
  color: #2b2b2b
  font-size: 60px
  font-weight: 800
  text-transform: uppercase
  width: 100%

h2
  font-size: 48px
  font-weight: bold
  text-transform: uppercase
  width: 100%

.links
  text-decoration: underline
  color: #ed1547
  font-size: 14px

.container
  max-width: 1370px
  width: 100%
  margin: 0 auto
  display: flex
  flex-wrap: wrap
  position: relative


.logo
  max-width: 166px
  width: 100%

.btn-burger
  position: absolute
  top: 46px
  left: 117px
  z-index: 1
  cursor: pointer
  span
    display: block
    width: 36px
    height: 7px
    border-radius: 3.5px
    background: #ef1649
    margin: 6px 0
    &:nth-child(2)
      width: 45px

.btn
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  font-size: 18px
  font-weight: bold
  padding: 24px 10px
  border-radius: 35px
  width: 351px
  &:hover
    box-shadow: none

.btn-accent
  box-shadow: 10.6px 5.6px 18px 0 rgba(239, 22, 73, 0.2)
  background: #ef1649
  color: #fff
  &:hover
    background: #fff
    color: #ef1649

.btn-border
  box-shadow: 10.6px 5.6px 18px 0 rgba(239, 22, 73, 0.2)
  border: solid 2px #ef1649
  color: #ef1649
  background: #fff
  &:hover
    color: #fff
    background: #ef1649

.btn-white
  color: #ef1649
  background: #ffffff
  &:hover
    color: #fff
    background: #ef1649

svg
  display: inline-block
  width: 100%
  height: 100%

button
  border: none
  cursor: pointer
  padding: 0
  outline: none
  transition: .3s ease


//header
header
  padding: 6px 0
  position: absolute
  left: 0
  top: 0
  width: 100%
  z-index: 5
  .container
    justify-content: space-between
    align-items: center

.mail, .phone
  display: flex
  align-items: center
  justify-content: space-between
  color: #0f0e0d
  font-size: 18px
  margin: 0 0 6px
  .icon
    width: 22px
    margin: 0 12px 0 0
    display: flex
    align-content: center
    justify-content: center
    svg
      fill: #ef1649

.mail
  .icon
    width: 13px
    height: 11px

.phone
  .icon
    width: 12px
    height: 12px


.box-contacts
  text-align: right

.list-social
  display: flex
  align-items: center
  justify-content: flex-end
  margin: 0 0 9px
  li
    margin: 0 12px 0 0
    &:last-child
      margin: 0
    a
      width: 27px
      height: 27px
      box-shadow: 10.6px 5.6px 18px 0 rgba(0, 0, 0, 0.06)
      background: #f9f9f9
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      padding: 5px
      img
        opacity: .4

//main
main
  padding: 330px 0 216px
  position: relative
  background: url("../img/bg.png") no-repeat right top
    size: 844px
  .description
    margin: 31px 0 82px
    color: #ef1649
    font-size: 30px
    font-weight: bold
  .btn
    width: 385px

.description-company
  font-size: 18px
  max-width: 481px
  line-height: 1.33
  margin: 0 auto 0 34px

.box-subtitle
  color: #dadada
  font-weight: 500
  text-transform: uppercase
  position: absolute
  left: -140px
  top: 580px
  display: flex
  align-items: center
  transform: rotate(90deg)
  font-size: 72px
  .text
    transform: rotate(-180deg)

  .icon
    transform: rotate(-90deg)
    margin: 0 0 0 34px

.man-text
  max-width: 790px
  p
    font-style: italic
    color: #ef1649
    font-size: 18px
    margin: 55px 0 0
    max-width: 565px

.btn-group
  display: flex
  align-items: center
  flex-wrap: wrap
  .btn
    margin: 0 15px 0 0
    &:last-child
      margin: 0

.color-accent
  color: #ef1649

//advantages
.advantages
  padding: 90px 0
  position: relative
  background-image: linear-gradient(to top, #db0f3f, #ef1649)
  color: #fff
  &:before
    content: ''
    position: absolute
    height: 100%
    width: 366px
    background: url("../img/bg1.jpg") no-repeat center
      size: cover
    right: 0
    top: 0
  &:after
    content: ''
    position: absolute
    left: -3px
    top: 241px
    width: 77px
    height: 154px
    background: url("../img/ellipce1.png") no-repeat center
      size: contain
  h2
    font-size: 36px
    margin: 0 0 39px
  .description
    margin: 0 0 54px
    max-width: 1215px
  .line-bottom
    margin: -30px 0 0
  h6
    margin: 0 0 34px
    font-size: 36px
    font-weight: bold

strong
  display: inline
  font-weight: bold

.advantages-content
  width: 100%
  display: flex
  align-items: flex-start

.advantages-box
  display: flex
  align-items: center
  margin: 0 0 26px
  font-size: 24px
  font-weight: 500
  width: 100%
  .icon
    width: 36px
    height: 36px
    display: flex
    align-items: center
    justify-content: center
    margin: 0 24px 0 0
    svg
      fill: #fff

.advantages-wrapper
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  max-width: 820px
  width: 100%


.advantages-number
  margin: 0 -230px 0 87px
  max-width: 685px
  font-size: 24px
  font-weight: 300
  text-transform: uppercase
  .number
    font-size: 345.5px
    font-weight: bold
    line-height: .7
    margin: 0 0 37px

.line-bottom
  width: 100%
  display: flex
  align-items: center
  flex-wrap: wrap

  .btn
    width: 351px
    padding: 24px 0

.question
  font-size: 24px
  font-weight: 500
  font-style: italic
  display: flex
  align-items: center
  margin: 0 31px 0 0
  &:before
    content: ''
    margin: 0 17px 0 0
    background: #f6f6f6
    height: 5px
    min-width: 38px

.description
  font-size: 24px
  font-weight: 500

//contract
.contract
  position: relative
  background-image: linear-gradient(to top, #db0f3f, #ef1649)
  padding: 153px 0 175px
  color: #fff
  .container
    align-items: center
    justify-content: space-between
  .description
    margin: 25px 0 55px

  &:before
    content: ''
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: url("../img/bg2.jpg") no-repeat center
      size: cover
    opacity: .15
  .line-bottom
    flex-direction: column
    align-items: flex-start
  .question
    margin: 0 0 25px
    &:before
      min-width: 58px
  .btn
    margin: 0 20px 0 0
    &:last-child
      margin: 0


.contract-text
  max-width: 800px

.contract-image
  width: 406px
  height: 406px
  display: flex
  align-items: center
  justify-content: center


//tools
.tools
  padding: 140px 0 0
  position: relative
  h2
    text-align: center
  .description
    margin: 30px 0 32px
    text-align: center
    width: 100%
    font-size: 36px
    strong
      color: #eb1547
  .sentence-image1
    position: absolute
    max-width: 865px
    bottom: 0
    right: -288px

    span
      width: 807px
      height: 807px
      background: #f6f6f6
      border-radius: 50%
      &:before
        content: ''
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%,-50%)
        border: solid 3px #f6f6f6
          radius: 50%
        width: calc(100% + 58px)
        height: calc(100% + 58px)
  .sentence-image2
    position: absolute
    max-width: 26px
    right: 315px
    z-index: 2
    bottom: 127px
    span
      width: 26px
      height: 26px
      box-shadow: 0 14px 24px 0 rgba(239, 22, 73, 0.29)
      background-color: #ef1649


.tabs__caption
  width: 100%
  display: flex
  align-items: stretch
  justify-content: space-between
  flex-wrap: wrap
  padding: 0 70px
  li
    cursor: pointer
    transition: .3s ease
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    color: #2b2b2b
    padding: 20px 35px
    border-radius: 30px
    margin: 0 0 36px
  .active
    color: #fff
    background: #ef1649

.tools-title
  color: #2b2b2b
  font-size: 36px
  font-weight: bold
  text-transform: uppercase

.tools-description
  margin: 25px 0 0
  color: #2b2b2b
  font-size: 18px
  font-weight: 500
  max-width: 940px
  width: 100%

.d-mobile
  display: none

.tabs
  width: 100%

.tabs__content-wrap
  width: calc(100% - 800px)
  .btn
    max-width: 385px
    width: 100%

.list-cube
  max-width: 440px
  color: #2b2b2b
  font-size: 18px
  margin: 30px 0
  font-weight: 500
  .color-accent
    font-weight: bold
  li
    position: relative
    padding: 0 0 0 48px
    margin: 0 0 25px
    &:before
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 18px
      height: 18px
      box-shadow: 0px 14px 24px 0 rgba(239, 22, 73, 0.29)
      background-color: #ef1649
      transform: rotate(-20deg)
    &:nth-child(even)
      &:before
        transform: rotate(20deg)

.tools-photo
  position: relative
  img
    position: relative
    z-index: 1

.description-tools
  position: absolute
  right: 30px
  top: -180px
  width: 275px
  height: 275px
  box-shadow: 0 12px 18px 0 rgba(235, 21, 71, 0.2)
  background-color: #ef1649
  border-radius: 50%
  color: #fff
  text-align: center
  padding: 49px 18px
  font-size: 22px
  font-weight: bold


.tabs__content1
  .tools-photo
    max-width: 978px
    margin: 0 0 0 -580px
  .tabs__content-wrap
    width: auto


//callback
.callback
  position: relative
  background: #ef1649
  color: #fff
  padding: 80px 0
  .description
    font-size: 29px
  &:before
    content: ''
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    opacity: .2
    background: url("../img/bg3.jpg") no-repeat center
      size: cover
    width: 100%
    height: 100%
  label
    width: calc(100% - 320px)
    margin: 0
  input
    height: 70px
    color: #2b2b2b
    font-size: 16px
    width: 100%
  form
    margin: 30px 0 0
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    button
      height: 70px
      width: 292px
      margin: 0




//employees
.employees
  position: relative
  padding: 140px 0
  .box-subtitle
    left: auto
    right: -200px
    transform: rotate(-90deg) translate(0,-50%)
    position: fixed
    z-index: 7
    top: 50%
    .text
      transform: rotate(180deg)
  h2
    max-width: 1060px
    margin: 0 0 60px


.employee-box__wrapper
  display: flex
  width: 100%
  flex-wrap: wrap
  justify-content: space-between
  align-items: stretch

.employee-box
  display: flex
  align-items: stretch
  color: #535353
  font-size: 14px
  font-weight: 300
  &__photo
    width: 341px
    min-width: 341px
    height: 341px
    background: #f6f6f6
    display: flex
    align-items: flex-start
    justify-content: center
    overflow: hidden
    position: relative
    img
      width: 100%
      height: 100%
      object-fit: cover
    &:before
      content: ''
      position: absolute
      top: 50%
      border-top: 17.5px solid transparent
      border-left: 30px solid #fff
      border-right: none
      border-bottom: 17.5px solid transparent
      right: auto
      left: 0


  &__content
    padding: 30px 33px 30px 25px
    width: 341px
    min-width: 341px
  .name
    font-size: 24px
    font-weight: 500
    color: #2b2b2b
  .position
    margin: 14px 0 20px
    color: #ef1649
    font-size: 18px
    font-weight: 500
    font-style: italic
  &:nth-child(3), &:nth-child(4), &:nth-child(7), &:nth-child(8)
    .employee-box__photo
      &:before
        right: 0
        left: auto
        width: 0
        height: 0
        border-left: none
        border-top: 17.5px solid transparent
        border-right: 30px solid #fff
        border-bottom: 17.5px solid transparent
        transform: rotate(0,-50%)

.slick-arrow
  z-index: 1
  outline: none
  width: 53px
  height: 53px
  opacity: 1
  &:before
    display: none
  svg
    fill: #ef1649


.slick-prev
  left: -106px
  svg
    transform: rotate(90deg)

.slick-next
  right: -106px
  svg
    transform: rotate(-90deg)


//portfolio
.portfolio
  padding: 140px 0
  position: relative
  h2
    text-align: center
  .btn
    margin: 0 auto

.portfolio-wrapper
  width: 100%
  display: flex
  align-items: stretch
  justify-content: space-between
  flex-wrap: wrap
  margin: 79px 0 60px

.portfolio-box
  position: relative
  width: 25%
  height: 480px
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  cursor: pointer
  transition: .3s ease
  &:hover
    transform: scale(1.1)
    z-index: 1
    .portfolio-box__content
      opacity: 1
      visibility: visible

.portfolio-box__photo
  width: 100%
  height: 100%
  display: flex
  align-items: flex-start
  justify-content: center
  img
    width: 100%
    height: 100%
    object-fit: cover

.portfolio-box__content
  position: absolute
  z-index: 2
  width: 100%
  height: 100%
  left: 0
  top: 0
  background: #ef1649
  padding: 87px 29px 63px
  color: #fff
  text-align: center
  display: flex
  flex-direction: column
  align-items: flex-start
  transition: .3s ease
  opacity: 0
  visibility: hidden
  h3
    font-size: 30px
    font-weight: bold
    width: 100%
    text-align: center
  .text
    margin: 35px auto auto
    font-size: 19px
    font-weight: 500
    line-height: 1.26

.fancybox-photo
  line-height: 1.26
  font-size: 19px
  font-weight: bold
  color: #fff
  text-decoration: underline
  margin: 0 auto

.indicators
  width: 100%
  display: flex
  align-items: center
  justify-content: flex-start
  margin: 0 0 29px
  font-size: 30px
  li
    display: flex
    align-items: center
    margin: 0 59px 0 0
    &:last-child
      margin: 0
    p
      text-shadow: 10.6px 5.6px 18px rgba(239, 22, 73, 0.2)
      font-size: 30px
      color: #ef1649
      font-weight: bold
      margin: 0 22px 0 0


.nav-slide
  display: flex
  align-items: center
  justify-content: center
  .slick-arrow
    width: 56px
    height: 56px
    background: rgba(#e8eaee, .4)
    position: relative
    top: 0
    transform: translate(0)
    left: 0
    right: 0
    transition: .3s ease
  .slick-next
    background: rgba(#e8eaee, .4) url("../img/arr-r-bl.png") no-repeat center
      size: 17px
    &:hover, &:focus
      background: url("../img/arr-r-bl.png") no-repeat center
        size: 17px
  .slick-prev
    background: rgba(#e8eaee, .4) url("../img/arr-l-bl.png") no-repeat center
      size: 17px
    &:hover, &:focus
      background: url("../img/arr-l-bl.png") no-repeat center
        size: 17px


.counter-slide
  display: flex
  align-items: center
  margin: 0 0 57px
  font-size: 48px
  font-weight: bold
  color: #e8eaee
  .cp
    color: #ef1649


//footer
footer
  background: #181c1f
  padding: 20px 0 17px
  color: #fff
  .logo
    max-width: 120px
    margin: 0 auto 15px
  .container
    justify-content: space-between
    align-items: center
  .mail, .phone
    font-size: 23px
    color: #fff
    .icon
      width: 15px
      height: 15px
  .links
    font-size: 18px
  .list-social
    margin: 0
    justify-content: center
    li
      margin: 0 16px 0 0
      a
        width: 41px
        height: 41px
        padding: 10px

.copyright
  font-size: 10px
  color: rgba(255, 255, 255, 0.2)
  font-weight: 300
  text-align: center

.doc
  p
    margin: 34px auto 0
    font-size: 14px
    color: rgba(255, 255, 255, 0.4)

.footer-menu
  display: flex
  flex-wrap: wrap
  align-items: center
  max-width: 520px
  width: 100%
  li
    width: 165px
    margin: 0 50px 25px 0
    //&:last-child, &:nth-child(4)
    //  margin-bottom: 0
    &:nth-child(3)
      width: auto
      margin-right: 0
    a
      color: #fff
      font-size: 18px
      &:hover
        color: #ef1649

//orders
.orders
  background: #181c1f
  position: relative
  padding: 70px 0
  .container
    z-index: 1
  &:after
    content: ''
    position: absolute
    left: 0
    bottom: 87px
    background: url("../img/ellipce1.png") no-repeat center
      size: cover
    width: 92px
    height: 200px
  &:before
    content: ''
    position: absolute
    width: 100%
    height: 100%
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    background: url("../img/bg4.jpg") no-repeat center
      size: cover
    opacity: .05
  h2
    color: #fff
    max-width: 770px
  .description
    color: #fff
    margin: 37px 0 50px
    text-transform: uppercase
    max-width: 600px
  .container
    flex-direction: column
    align-items: flex-start
  .box-subtitle
    transform: none
    top: 128px
    right: 0
    left: auto
    font-size: 130px
    opacity: .1
    .text
      transform: none
  .btn
    margin: 0 auto
    max-width: 447px
    width: 100%
    text-transform: uppercase

.list-parameter
  margin: 0 0 56px
  li
    margin: 0 0 21px
    &:last-child
      margin: 0



.orders-wrapper
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: flex-start

.checkbox
  width: 100%
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-start
  .checkbox-inp
    display: none
  .checkbox-custom
    position: relative
    width: 15px
    height: 15px
    display: inline-block
    vertical-align: middle
    border: none
      radius: 3px
    background: #ffffff
    cursor: pointer
    transition: .3s ease
    margin: 0 15px 0 0

  .label
    display: inline-block
    vertical-align: middle
    color: #fff
    font-size: 18px
    font-weight: 500
    font-family: $default-font
    cursor: pointer
  .checkbox-inp:checked + .checkbox-custom
    &::before
      content: ""
      display: block
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      border-radius: 3px
      background: #ef1649

//section question
.question-section
  padding: 0 0 140px
  position: relative
  h2
    margin: 0 0 50px
    max-width: 1080px
  .container
    z-index: 1
  .sentence-image1
    left: -89px
    top: 212px
    position: absolute
    .img-parallax
      width: 184px
      height: 200px
      background: url("../img/ellipce2.png") no-repeat center
        size: cover
  .sentence-image2
    position: absolute
    right: 53px
    bottom: 393px
    .img-parallax
      margin: 0 0 0 auto
      width: 75px
      height: 97px
      background: url("../img/ellipce3.png") no-repeat center
        size: cover


.panel_heading
  width: 100%
  font-size: 18px
  color: #2b2b2b
  margin: 0 0 20px

.block_title
  width: 100%
  position: relative
  background: rgba(#e8eaee, .4)
  text-transform: uppercase
  font-weight: 700
  padding: 31px 65px 31px 32px
  cursor: pointer
  &:before
    content: '+'
    position: absolute
    right: 30px
    top: 50%
    transform: translate(0,-50%)
    border-radius: 50%
    width: 36px
    height: 36px
    background: #ef1649
    font-size: 30px
    font-weight: 700
    text-transform: uppercase
    transition: .3s ease
    display: flex
    align-items: center
    justify-content: center
    color: #fff
    text-align: center
    line-height: 36px

.in
  &:before
    content: '-'

.block_hover
  display: none
  padding: 38px 0 0
  line-height: 24px

.text-right
  text-align: right

.box-statistics
  color: #2b2b2b
  font-size: 36px
  font-weight: 700
  opacity: .2
  text-transform: uppercase
  width: 100%
  &:last-child
    margin: 35px 0 0

//sentence
.sentence
  padding: 103px 0 127px
  position: relative
  h2
    margin: 0 0 86px
    max-width: 890px
  .box-subtitle
    left: -180px
    top: 470px

.sentence-wrapper
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  margin: 49px 0 60px

.sentence-image
  max-width: 580px
  width: 100%

.form
  max-width: 658px
  width: 100%
  button
    width: 100%
    height: 102px
    border-radius: 51px
    font-size: 24.5px

label
  width: 100%
  display: block
  margin: 0 0 19px

input
  width: 100%
  outline: none
  box-sizing: border-box
  font-family: $default-font
  border: none
    radius: 51px
  height: 103px
  font-size: 18px
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.06)
  background: #fff
  padding: 0 52px
  color: #2b2b2b
  &::placeholder
    color: #2b2b2b
  &:valid
    color: #2b2b2b
  &:focus
    color: #2b2b2b
    &:valid, &:invalid
      color: #2b2b2b



.img-parallax
  left: auto !important
  right: 0

.mobile-menu
  position: fixed
  z-index: 7
  background: #fff
  max-width: 555px
  box-shadow: 0px 14px 21px 0 rgba(0, 0, 0, 0.07)
  height: 100%
  width: 100%
  display: none

.mobile-menu__wrapper
  height: 100%
  overflow-y: auto
  padding: 59px 104px 59px 244px
  .list-social
    justify-content: flex-start
    margin: 0 0 19px
  .mail, .phone
    justify-content: flex-start
  .box-contacts
    text-align: left
    .links
      padding: 0 0 0 20px

.overlay
  opacity: 0.9
  box-shadow: 0 14px 21px 0 rgba(0, 0, 0, 0.07)
  width: 100%
  height: 100%
  display: none
  background: #fff
  z-index: 6
  position: fixed
  left: 0
  top: 0

.menu
  li
    margin: 0 0 37px
    a
      color: #2b2b2b
      font-size: 18px
      font-weight: 500

      &:hover
        color: #ef1649

.tabs__content
  display: none /* по умолчанию прячем все блоки */
  align-items: flex-end
  justify-content: space-between
  flex-wrap: wrap

.tabs__content.active
  display: flex /* по умолчанию показываем нужный блок */


.modal__div
  position: fixed
  max-width: 647px
  width: 100%
  height: 100%
  top: 45%
  left: 50%
  transform: translate(-50%, -50%)
  z-index: 101
  overflow: auto
  justify-content: center
  align-items: center
  flex-direction: column
  display: none
  opacity: 0
  .modal__close
    position: absolute
    right: 20px
    top: 20px
  .modal__wrapper
    background: #fff
    width: 100%
    height: auto
    overflow: auto
    margin: 50px auto
    padding: 50px 59px
    box-sizing: border-box
    position: relative
    border-radius: 10px
    h2
      font-size: 36px
      text-align: center
      margin: 0 auto 30px
      color: #2b2b2b
      font-weight: 800
      text-transform: none
  form
    label
      margin: 0 0 25px
      input
        font-size: 16px
        padding: 0 40px
        border: solid 1px #dadada
        height: 65px
        box-shadow: none
    button
      height: 65px
      font-size: 18px

.overlay2
  z-index: 100
  position: fixed
  background-color: #181c1f
  opacity: 0.9
  -moz-opacity: 0.9
  filter: alpha(opacity = 90)
  width: 100%
  height: 100%
  top: 0
  left: 0
  cursor: pointer
  display: none

@import "media"
// Всегда в конце
